<!-- Pneus -->

<div class="equipement">

  <div class="carousel-box owl-wrapper">

    <div class="title-section">
      <h1>
        <span>Des pneus de grandes marques et durables</span>
      </h1>
    </div>
    <div class="owl-carousel" data-num="3">
      <div class="item news-post image-post3">
        <img src="assets/images/pieces/pneu/pneu1.png" alt="">
        <div class="hover-box jante">
          <h2>
            <a href="pneus">B2</a>
          </h2>
        </div>
      </div>
      <div class="item news-post image-post3">
        <img src="assets/images/pieces/pneu/pneu2.png" alt="">
        <div class="hover-box jante">
          <h2>
            <a href="pneus">B38</a>
          </h2>
        </div>
      </div>
      <div class="item news-post image-post3">
        <img src="assets/images/pieces/pneu/pneu3.png" alt="">
        <div class="hover-box jante">
          <h2>
            <a href="pneus">Complète</a>
          </h2>
        </div>
      </div>
      <div class="item news-post image-post3">
        <img src="assets/images/pieces/pneu/pneu1.png" alt="">
        <div class="hover-box jante">
          <h2>
            <a href="pneus">B2</a>
          </h2>
        </div>
      </div>
      <div class="item news-post image-post3">
        <img src="assets/images/pieces/pneu/pneu2.png" alt="">
        <div class="hover-box jante">
          <h2>
            <a href="pneus">B38</a>
          </h2>
        </div>
      </div>
      <div class="item news-post image-post3">
        <img src="assets/images/pieces/pneu/pneu3.png" alt="">
        <div class="hover-box jante">
          <h2>
            <a href="pneus">Complète</a>
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End Pneus -->