<!-- Slider -->
<div class="grid-box">
  <div class="items">
    <!-- MODIF STAGIAIRES -->
    <h1>LES PIÈCES MULTIMARQUES</h1>

    <p>Commander vos piéces en ligne chez <strong>Bobopneus</strong> au sein d'un large choix de produits <span>C'est si
        simple d'acheter chez nous</span> </p>
  </div>
  <!-- EO MODIF STAGIAIRES -->

  <!-- Mise en avant SLIDER -->
  <div class="image-slider">
    <ul class="bxslider">
      <li>
        <div class="news-post image-post">
          <img src="assets/images/slider/pneu-slider1.jpg" alt="">
          <div class="hover-box">
            <span class="top-stories">
              BOBO PNEU & PIÈCES DÉTACHÉES
            </span>
            <div class="inner-hover">
              <a class="category-post tech">
                15 CONTRÔLES VISUELS
              </a>
              <h2><a>
                  UN PNEUMATIQUE BIEN GONFLÉ ASSURE LA SÉCURITÉ ET L'ÉCONOMIE
                </a></h2>
              <ul class="post-tags">
                <li><i class="fa fa-clock-o"></i>
                  12/01/2023
                </li>
              </ul>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="news-post image-post">
          <img src="assets/images/slider/pneu-slider0.jpg" alt="">
          <div class="hover-box">
            <span class="top-stories">
              BOBO PNEU & PIÈCES DÉTACHÉES
            </span>
            <div class="inner-hover">
              <a class="category-post tech">
                15 CONTRÔLES VISUELS
              </a>
              <h2><a>
                  UN PNEUMATIQUE BIEN GONFLÉ ASSURE LA SÉCURITÉ ET L'ÉCONOMIE
                </a></h2>
              <ul class="post-tags">
                <li><i class="fa fa-clock-o"></i>
                  12/01/2023
                </li>
              </ul>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="news-post image-post">
          <img src="assets/images/slider/pneu-slider3.jpg" alt="">
          <div class="hover-box">
            <span class="top-stories">
              BOBO PNEU & PIÈCES DÉTACHÉES
            </span>
            <div class="inner-hover">
              <a class="category-post tech">
                15 CONTRÔLES VISUELS
              </a>
              <h2><a>
                  UN PNEUMATIQUE BIEN GONFLÉ ASSURE LA SÉCURITÉ ET L'ÉCONOMIE
                </a></h2>
              <ul class="post-tags">
                <li><i class="fa fa-clock-o"></i>
                  12/01/2023
                </li>
              </ul>
            </div>
          </div>
        </div>
      </li>

    </ul>
  </div> <!-- EO Mise en avant SLIDER -->
</div>
<!-- End Slider -->