.modal-dialog {
  img {
    display: none;
    position: absolute;
    width: 80px;
    height: 80px;
    object-fit: contain;
    top: -45px;
    left: 560px;
    z-index: 1;
  }

  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    border-radius: 5px;
    width: 540px;
    padding: 20px 60px;

    // Le bouton croix pour fermer
    .close {
      position: absolute;
      right: 17px;
      top: 8px;
      font-size: 32px;
      font-weight: bold;
      color: #00000080;
      cursor: pointer;

      &:hover,
      &:focus {
        color: #E3A719;
      }
    }

    .block-content {
      .contact-form-box {
        .title-section {
          margin: 0 0 20px 0 !important;

          // Titre
          h1 {
            span {
              font-size: 25px;
            }
          }
        }

        #contact-form {
          h3 {
            font-size: 18px;
            margin: -12px 0 25px 0;
          }

          // Bouton checkbox
          #fax {
            margin: 0 !important;
          }
        }
      }
    }
  }
}
