<!-- End Top line -->
<div class="overlay" tabindex="-1" role="dialog" [ngStyle]="{'display':connection}">
  <div class="modal-dialog">
    <img class="position-absolute" src="../../../../assets/images/users/grand.jpg" alt="Users" class="rounded-circle">
    <div class="modal-content">
      <span class="close" title="Close Modal" (click)="closePopup()">&times;</span>
      <!-- block-wrapper-section -->
      <div class="block-content">
        <!-- contact form box -->
        <div class="contact-form-box">
          <div class="title-section">
            <h1 class="text-center"><span>Connexion</span></h1>
          </div>
          <form id="contact-form" [formGroup]="userConnexion" (ngSubmit)="onLogin()">
            <h3>Entrez votre adresse e-mail et votre mot de passe</h3>
            <div class="row">
              <div class="col-md-12">
                <input id="courriel" placeholder="Adresse électronique *" name="email" type="email" required
                       formControlName="email">
                <div *ngIf="userConnexion.controls.email?.errors && isSubmit">Veuillez vérifier votre adresse e-mail</div>
              </div>
              <div class="col-md-12">
                <input id="telephone_contact" placeholder="Mot de passe *" name="password" type="password" required
                       formControlName="password">
                <div  *ngIf="userConnexion.controls.password?.errors && isSubmit">
                  Veuillez vérifier votre mot de passe
                </div>
              </div>
            </div>
            <div class="d-flex align-items-center justify-content-between">
              <div class="d-flex align-items-center">
                <input id="fax" name="fax" type="checkbox">&nbsp;&nbsp;
                <span class="seSouvenir">Se souvenir de moi</span>
              </div>
              <span class="txt-small champsObligatoires">* Champs obligatoires</span>
            </div>
            <p *ngIf="errorMsg">
              Votre compte ou mot de passe est incorrect. Si vous avez oublié votre mot de passe,
              <a href="#">réinitialisez-le maintenant.</a>
            </p>
            <button id="bouton" class="btn btn-outline-secondary btnEnvoie" type="submit">
              <i class="fas fa-paper-plane"></i> Connexion
            </button>
            <p class="text-center forgotPassword"><a href="#">Mot de passe oublié ?</a></p>
            <p>Ne disposez pas d'un compte BOBO PNEUS EQUIPEMENTS ?
              <a href="#" (click)="inscription = 'block'">INSCRIVEZ-VOUS</a> maintenant.
            </p>
          </form>
        </div>
        <!-- End contact form box -->
      </div>
      <!-- End block-wrapper-section -->
    </div>
  </div>
</div>
<!-- Page inscription -->
<app-inscription *ngIf="this.inscription === 'block'" [inscription]="this.inscription"
                 (emitNoneDisplay)="inscription = 'none'">
</app-inscription>
