.single-wide {
  margin: -20px 0 0 0;
}

// Filtre type des pneus
.sidebar {
  max-width: 1320px;
  margin: auto;
  padding-top: 0 !important;

  .title-section {
    .titleBoutique {
      font-size: 30px;
    }
  }

  .tab-posts-widget {

    // Entête contenu de mes tabs
    ul.nav-tabs {
      li {
        float: left;
        width: 20%;
        border-radius: 5px;
        margin: 0;
        padding-left: 1px;

        &:first-child {
          a {
            border-radius: 5px 0 0 5px;
          }

        }

        &:last-child {
          a {
            border-radius: 0 5px 5px 0;
          }
        }

      }
    }

    // contenu de mes tabs
    .tab-content {

      #auto,
      #sun,
      #camionLeger,
      #camion,
      #moto {

        // Titre de contenu tabs
        .title-section {
          img {
            width: 8%;
            height: 100%;
            object-fit: cover;
          }
        }

        .owl-carousel {
          .hover-box {
            .titlePneus {
              color: white;
              margin: 0 0 10px 0 !important;
              font-size: 20px;
            }

            .post-tags {
              margin: 0;
              padding: 10px;
              background-color: #ffffffc2;
              border-radius: 5px;
              color: black;
              box-shadow: rgb(0 0 0 / 0%) 0px -23px 25px 0px inset, rgb(0 0 0 / 0%) 0px -36px 30px 0px inset, rgb(0 0 0 / 0%) 0px -79px 40px 0px inset, rgb(0 0 0 / 0%) 0px 2px 1px, rgb(0 0 0 / 0%) 0px 4px 2px, rgb(0 0 0 / 0%) 0px 8px 4px, rgb(0 0 0 / 0%) 0px 16px 8px, rgb(0 0 0 / 0%) 0px 32px 16px;

              li {
                width: 100%;
                color: black;

                i {
                  margin: 0 10px 0 0;
                }
              }
            }
          }

          .cart {}

        }
      }
    }
  }
}

.containerRecherche {
  padding: 0 !important;
}

// Type de pneus
.container {
  .block-content {
    #contact-form {
      padding: 12px;
      background-color: antiquewhite;
      border-radius: 5px;
      box-shadow: #e3a7191c 0px 54px 55px, #e3a71900 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

      .btnRecherche {
        margin: 24px 0 0 0 !important;
      }

    }

    .wide-version {

      // Titre
      .title-section {
        h1 {
          font-size: 30px;
        }
      }

      .typePneus {
        width: 48px;
        height: 48px;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 90px;
      }
    }
  }
}