.single-wide {
  margin: -20px 0 0 0;
}

.sidebar {
  max-width: 1320px;
  margin: auto;

  .tab-posts-widget {
    ul.nav-tabs {
      li {
        float: left;
        width: 20%;
        border-radius: 5px;
        margin: 0;
        padding-left: 1px;

        &:first-child {
          a {
            border-radius: 5px 0 0 5px;
          }

        }

        &:last-child {
          a {
            border-radius: 0 5px 5px 0;
          }
        }

      }
    }
  }
}
