<!-- Slider -->
<section class="single-wide">
  <div class="image-slider">
    <ul class="bxslider">
      <li>
        <div class="news-post image-post">
          <img src="../../../assets/images/pneus/pneu1.jpg" alt="">
        </div>
      </li>
      <li>
        <div class="news-post image-post">
          <img src="../../../assets/images/pneus/pneu2.jpg" alt="">
        </div>
      </li>
      <li>
        <div class="news-post image-post">
          <img src="../../../assets/images/pneus/pneu3.jpg" alt="">
        </div>
      </li>
      <li>
        <div class="news-post image-post">
          <img src="../../../assets/images/pneus/pneu4.jpg" alt="">
        </div>
      </li>
    </ul>
  </div>
</section>
<!-- EO Slider -->

<!-- Recherche de Pneus voiture par taille -->
<section class="block-wrapper">
  <div class="container containerRecherche">
    <!-- block content -->
    <div class="block-content">
      <!-- contact form box -->
      <div class="contact-form-box">
        <div class="title-section">
          <h1><span>Recherche de Pneus voiture par taille:</span></h1>
        </div>
        <form id="contact-form">
          <div class="d-flex align-items-center row">
            <div class="col-md-2">
              <label for="largeur">Type de pneu</label>
              <select name="pneuLargeur" id="largeur">
                <option value="Auto">Auto</option>
                <option value="4x4/Suv">4x4/SUV</option>
                <option value="Camion Leger">Camion Leger</option>
                <option value="Camion">Camion</option>
                <option value="Moto">Moto</option>
              </select>
            </div>
            <div class="col-md-2">
              <label for="largeur">Largeur</label>
              <select name="pneuLargeur" id="largeur">
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="15">15</option>
                <option value="17">17</option>
                <option value="105">105</option>
                <option value="115">115</option>
                <option value="125">125</option>
                <option value="130">130</option>
                <option value="135">135</option>
                <option value="140">140</option>
                <option value="145">145</option>
                <option value="150">150</option>
                <option value="155">155</option>
                <option value="165">165</option>
                <option value="175">175</option>
                <option value="180">180</option>
                <option value="185">185</option>
                <option value="190">190</option>
                <option value="195">195</option>
                <option value="200">200</option>
                <option value="205" selected="selected">205</option>
                <option value="210">210</option>
                <option value="215">215</option>
                <option value="220">220</option>
                <option value="225">225</option>
                <option value="230">230</option>
                <option value="235">235</option>
                <option value="240">240</option>
                <option value="245">245</option>
                <option value="255">255</option>
                <option value="265">265</option>
                <option value="270">270</option>
                <option value="275">275</option>
                <option value="280">280</option>
                <option value="285">285</option>
                <option value="295">295</option>
                <option value="305">305</option>
                <option value="315">315</option>
                <option value="325">325</option>
                <option value="335">335</option>
                <option value="345">345</option>
                <option value="355">355</option>
                <option value="4_00">4.00</option>
                <option value="4_00_4_50">4.00/4.50</option>
                <option value="4_50">4.50</option>
                <option value="4_75_5_00">4.75/5.00</option>
                <option value="4_75_5_25">4.75/5.25</option>
                <option value="4_80">4.80</option>
                <option value="5_00">5.00</option>
                <option value="5_20">5.20</option>
                <option value="5_25">5.25</option>
                <option value="5_50">5.50</option>
                <option value="5_60">5.60</option>
                <option value="5_70">5.70</option>
                <option value="5_90">5.90</option>
                <option value="6_00">6.00</option>
                <option value="6_40">6.40</option>
                <option value="6_50">6.50</option>
                <option value="6_70">6.70</option>
                <option value="7_00">7.00</option>
                <option value="7_25">7.25</option>
                <option value="7_50">7.50</option>
                <option value="8_20">8.20</option>
                <option value="16_5x6_50">16.5x6.50</option>
                <option value="18x8">18x8</option>
                <option value="18_5x8_5">18.5x8.5</option>
                <option value="20_5x8_0">20.5x8.0</option>
                <option value="20_5x10">20.5x10</option>
                <option value="31x10_50">31x10.50</option>
                <option value="t115">T115</option>
                <option value="t125">T125</option>
              </select>
            </div>
            <div class="col-md-2">
              <label for="hauteur">Hauteur</label>
              <select name="pneuHauteur" id="hauteur">
                <option value="35">35</option>
                <option value="40">40</option>
                <option value="45">45</option>
                <option value="50">50</option>
                <option value="55" selected="selected">55</option>
                <option value="60">60</option>
                <option value="65">65</option>
                <option value="70">70</option>
                <option value="75">75</option>
                <option value="80">80</option>
                <option value="-">-</option>
              </select>
            </div>
            <div class="col-md-2">
              <label for="diametre">Diamètre</label>
              <select size="1" name="pneuDiametre" id="diametre">
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16" selected="selected">16</option>
                <option value="17">17</option>
                <option value="19">19</option>
              </select>
            </div>
            <div class="col-md-4 btnRecherche">
              <button id="bouton" class="btn btn-outline-secondary" type="submit">
                <i class="fa fa-search"></i> Rechercher
              </button>
            </div>
          </div>


        </form>
      </div>
      <!-- End contact form box -->
    </div>
    <!-- End block content -->
  </div>
</section>
<!-- EO Recherche de Pneus voiture par taille -->

<!-- Pièces et accessoires -->
<section class="sidebar">
  <div class="title-section">
    <h1 class="titleBoutique"><span>BOUTIQUE DE PNEUS</span></h1>
  </div>
  <div class="widget tab-posts-widget">
    <!-- Entêtecontenu de mes tabs -->
    <ul class="nav nav-tabs w-100" id="myTab">
      <li class="active">
        <a href="#auto" data-toggle="tab">AUTO</a>
      </li>
      <li>
        <a href="#sun" data-toggle="tab">4x4/SUV</a>
      </li>
      <li>
        <a href="#camionLeger" data-toggle="tab">CAMION LEGER</a>
      </li>
      <li>
        <a href="#camion" data-toggle="tab">CAMION</a>
      </li>
      <li>
        <a href="#moto" data-toggle="tab">MOTO</a>
      </li>
    </ul>

    <!-- contenu de mes tabs -->
    <div class="tab-content">
      <div class="tab-pane active" id="auto">
        <div class="more-autor-posts">
          <div class="carousel-box owl-wrapper">
            <div class="title-section">
              <h1><span>Auto</span> <img src="../../../assets/images/pneus/auto.png"></h1>
            </div>
            <div class="owl-carousel" data-num="3">
              <a class="position-relative" href="#">
                <div class="item news-post image-post3">
                  <img src="../../../assets/images/produits/pneu.png" alt="">
                  <div class="hover-box">
                    <h2 class="titlePneus">APlus A609</h2>
                    <ul class="post-tags">
                      <li><i class='fas fa-info-circle'></i>155/70 R13</li>
                      <li><i class="fa fa-car" aria-hidden="true"></i>Label pneumatique européen</li>
                      <li><i class="fa fa-money" aria-hidden="true"></i>30,50 €</li>
                      <li><i class="fas fa-paper-plane" aria-hidden="true"></i>+ Livraison Gratuite</li>
                    </ul>
                  </div>
                </div>
                <div class="position-absolute cart">
                  <i class='fas fa-cart-arrow-down'></i>
                </div>
              </a>
              <a href="#">
                <div class="item news-post image-post3">
                  <img src="../../../assets/images/produits/pneu.png" alt="">
                  <div class="hover-box">
                    <h2 class="titlePneus">APlus A609</h2>
                    <ul class="post-tags">
                      <li><i class='fas fa-info-circle'></i>165/65 R14</li>
                      <li><i class="fa fa-car" aria-hidden="true"></i>Label pneumatique européen</li>
                      <li><i class="fa fa-money" aria-hidden="true"></i>33,50 €</li>
                      <li><i class="fas fa-paper-plane" aria-hidden="true"></i>+ Livraison Gratuite</li>
                    </ul>
                  </div>
                  <div class="cart">
                    <i class='fas fa-cart-arrow-down'></i>
                  </div>
                </div>
              </a>
              <a href="#">
                <div class="item news-post image-post3">
                  <img src="../../../assets/images/produits/pneu.png" alt="">
                  <div class="hover-box">
                    <h2 class="titlePneus">APlus A609</h2>
                    <ul class="post-tags">
                      <li><i class='fas fa-info-circle'></i>155/70 R13</li>
                      <li><i class="fa fa-car" aria-hidden="true"></i>Label pneumatique européen</li>
                      <li><i class="fa fa-money" aria-hidden="true"></i>30,50 €</li>
                      <li><i class="fas fa-paper-plane" aria-hidden="true"></i>+ Livraison Gratuite</li>
                    </ul>
                  </div>
                  <div class="cart">
                    <i class='fas fa-cart-arrow-down'></i>
                  </div>
                </div>
              </a>
              <a href="#">
                <div class="item news-post image-post3">
                  <img src="../../../assets/images/produits/pneu.png" alt="">
                  <div class="hover-box">
                    <h2 class="titlePneus">Minerva ALL SEASON MASTER</h2>
                    <ul class="post-tags">
                      <li><i class='fas fa-info-circle'></i>205/55 R16</li>
                      <li><i class="fa fa-car" aria-hidden="true"></i>Label pneumatique européen</li>
                      <li><i class="fa fa-money" aria-hidden="true"></i>52,17 €</li>
                      <li><i class="fas fa-paper-plane" aria-hidden="true"></i>+ Livraison Gratuite</li>
                    </ul>
                  </div>
                  <div class="cart">
                    <i class='fas fa-cart-arrow-down'></i>
                  </div>
                </div>
              </a>
              <a href="#">
                <div class="item news-post image-post3">
                  <img src="../../../assets/images/produits/pneu.png" alt="">
                  <div class="hover-box">
                    <h2 class="titlePneus">Goodride ZuperEco Z-107</h2>
                    <ul class="post-tags">
                      <li><i class='fas fa-info-circle'></i>205/50 R17</li>
                      <li><i class="fa fa-car" aria-hidden="true"></i>Label pneumatique européen</li>
                      <li><i class="fa fa-money" aria-hidden="true"></i>51,10 €</li>
                      <li><i class="fas fa-paper-plane" aria-hidden="true"></i>+ Livraison Gratuite</li>
                    </ul>
                  </div>
                </div>
              </a>
              <a href="#">
                <div class="item news-post image-post3">
                  <img src="../../../assets/images/produits/pneu.png" alt="">
                  <div class="hover-box">
                    <h2 class="titlePneus">Minerva FROSTRACK HP M+S 3</h2>
                    <ul class="post-tags">
                      <li><i class='fas fa-info-circle'></i>175/65 R14</li>
                      <li><i class="fa fa-car" aria-hidden="true"></i>Label pneumatique européen</li>
                      <li><i class="fa fa-money" aria-hidden="true"></i>39,76 €</li>
                      <li><i class="fas fa-paper-plane" aria-hidden="true"></i>+ Livraison Gratuite</li>
                    </ul>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="sun">
        <div class="more-autor-posts">
          <div class="carousel-box owl-wrapper">
            <div class="title-section">
              <h1><span>Sun</span><img src="../../../assets/images/pneus/SUV.png"></h1>
            </div>
            <div class="owl-carousel" data-num="3">
              <a href="#">
                <div class="item news-post image-post3">
                  <img src="../../../assets/images/produits/pneu.png" alt="">
                  <div class="hover-box">
                    <h2 class="titlePneus">APlus A609</h2>
                    <ul class="post-tags">
                      <li><i class='fas fa-info-circle'></i>155/70 R13</li>
                      <li><i class="fa fa-car" aria-hidden="true"></i>Label pneumatique européen</li>
                      <li><i class="fa fa-money" aria-hidden="true"></i>30,50 €</li>
                      <li><i class="fas fa-paper-plane" aria-hidden="true"></i>+ Livraison Gratuite</li>
                    </ul>
                  </div>
                </div>
              </a>
              <a href="#">
                <div class="item news-post image-post3">
                  <img src="../../../assets/images/produits/pneu.png" alt="">
                  <div class="hover-box">
                    <h2 class="titlePneus">APlus A609</h2>
                    <ul class="post-tags">
                      <li><i class='fas fa-info-circle'></i>165/65 R14</li>
                      <li><i class="fa fa-car" aria-hidden="true"></i>Label pneumatique européen</li>
                      <li><i class="fa fa-money" aria-hidden="true"></i>33,50 €</li>
                      <li><i class="fas fa-paper-plane" aria-hidden="true"></i>+ Livraison Gratuite</li>
                    </ul>
                  </div>
                </div>
              </a>
              <a href="#">
                <div class="item news-post image-post3">
                  <img src="../../../assets/images/produits/pneu.png" alt="">
                  <div class="hover-box">
                    <h2 class="titlePneus">APlus A609</h2>
                    <ul class="post-tags">
                      <li><i class='fas fa-info-circle'></i>155/70 R13</li>
                      <li><i class="fa fa-car" aria-hidden="true"></i>Label pneumatique européen</li>
                      <li><i class="fa fa-money" aria-hidden="true"></i>30,50 €</li>
                      <li><i class="fas fa-paper-plane" aria-hidden="true"></i>+ Livraison Gratuite</li>
                    </ul>
                  </div>
                </div>
              </a>
              <a href="#">
                <div class="item news-post image-post3">
                  <img src="../../../assets/images/produits/pneu.png" alt="">
                  <div class="hover-box">
                    <h2 class="titlePneus">Minerva ALL SEASON MASTER</h2>
                    <ul class="post-tags">
                      <li><i class='fas fa-info-circle'></i>205/55 R16</li>
                      <li><i class="fa fa-car" aria-hidden="true"></i>Label pneumatique européen</li>
                      <li><i class="fa fa-money" aria-hidden="true"></i>52,17 €</li>
                      <li><i class="fas fa-paper-plane" aria-hidden="true"></i>+ Livraison Gratuite</li>
                    </ul>
                  </div>
                </div>
              </a>
              <a href="#">
                <div class="item news-post image-post3">
                  <img src="../../../assets/images/produits/pneu.png" alt="">
                  <div class="hover-box">
                    <h2 class="titlePneus">Goodride ZuperEco Z-107</h2>
                    <ul class="post-tags">
                      <li><i class='fas fa-info-circle'></i>205/50 R17</li>
                      <li><i class="fa fa-car" aria-hidden="true"></i>Label pneumatique européen</li>
                      <li><i class="fa fa-money" aria-hidden="true"></i>51,10 €</li>
                      <li><i class="fas fa-paper-plane" aria-hidden="true"></i>+ Livraison Gratuite</li>
                    </ul>
                  </div>
                </div>
              </a>
              <a href="#">
                <div class="item news-post image-post3">
                  <img src="../../../assets/images/produits/pneu.png" alt="">
                  <div class="hover-box">
                    <h2 class="titlePneus">Minerva FROSTRACK HP M+S 3</h2>
                    <ul class="post-tags">
                      <li><i class='fas fa-info-circle'></i>175/65 R14</li>
                      <li><i class="fa fa-car" aria-hidden="true"></i>Label pneumatique européen</li>
                      <li><i class="fa fa-money" aria-hidden="true"></i>39,76 €</li>
                      <li><i class="fas fa-paper-plane" aria-hidden="true"></i>+ Livraison Gratuite</li>
                    </ul>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="camionLeger">
        <div class="more-autor-posts">
          <div class="carousel-box owl-wrapper">
            <div class="title-section">
              <h1><span>Camion leger</span><img src="../../../assets/images/pneus/camion-leger.png"></h1>
            </div>
            <div class="owl-carousel" data-num="3">
              <a href="#">
                <div class="item news-post image-post3">
                  <img src="../../../assets/images/produits/pneu.png" alt="">
                  <div class="hover-box">
                    <h2 class="titlePneus">APlus A609</h2>
                    <ul class="post-tags">
                      <li><i class='fas fa-info-circle'></i>155/70 R13</li>
                      <li><i class="fa fa-car" aria-hidden="true"></i>Label pneumatique européen</li>
                      <li><i class="fa fa-money" aria-hidden="true"></i>30,50 €</li>
                      <li><i class="fas fa-paper-plane" aria-hidden="true"></i>+ Livraison Gratuite</li>
                    </ul>
                  </div>
                </div>
              </a>
              <a href="#">
                <div class="item news-post image-post3">
                  <img src="../../../assets/images/produits/pneu.png" alt="">
                  <div class="hover-box">
                    <h2 class="titlePneus">APlus A609</h2>
                    <ul class="post-tags">
                      <li><i class='fas fa-info-circle'></i>165/65 R14</li>
                      <li><i class="fa fa-car" aria-hidden="true"></i>Label pneumatique européen</li>
                      <li><i class="fa fa-money" aria-hidden="true"></i>33,50 €</li>
                      <li><i class="fas fa-paper-plane" aria-hidden="true"></i>+ Livraison Gratuite</li>
                    </ul>
                  </div>
                </div>
              </a>
              <a href="#">
                <div class="item news-post image-post3">
                  <img src="../../../assets/images/produits/pneu.png" alt="">
                  <div class="hover-box">
                    <h2 class="titlePneus">APlus A609</h2>
                    <ul class="post-tags">
                      <li><i class='fas fa-info-circle'></i>155/70 R13</li>
                      <li><i class="fa fa-car" aria-hidden="true"></i>Label pneumatique européen</li>
                      <li><i class="fa fa-money" aria-hidden="true"></i>30,50 €</li>
                      <li><i class="fas fa-paper-plane" aria-hidden="true"></i>+ Livraison Gratuite</li>
                    </ul>
                  </div>
                </div>
              </a>
              <a href="#">
                <div class="item news-post image-post3">
                  <img src="../../../assets/images/produits/pneu.png" alt="">
                  <div class="hover-box">
                    <h2 class="titlePneus">Minerva ALL SEASON MASTER</h2>
                    <ul class="post-tags">
                      <li><i class='fas fa-info-circle'></i>205/55 R16</li>
                      <li><i class="fa fa-car" aria-hidden="true"></i>Label pneumatique européen</li>
                      <li><i class="fa fa-money" aria-hidden="true"></i>52,17 €</li>
                      <li><i class="fas fa-paper-plane" aria-hidden="true"></i>+ Livraison Gratuite</li>
                    </ul>
                  </div>
                </div>
              </a>
              <a href="#">
                <div class="item news-post image-post3">
                  <img src="../../../assets/images/produits/pneu.png" alt="">
                  <div class="hover-box">
                    <h2 class="titlePneus">Goodride ZuperEco Z-107</h2>
                    <ul class="post-tags">
                      <li><i class='fas fa-info-circle'></i>205/50 R17</li>
                      <li><i class="fa fa-car" aria-hidden="true"></i>Label pneumatique européen</li>
                      <li><i class="fa fa-money" aria-hidden="true"></i>51,10 €</li>
                      <li><i class="fas fa-paper-plane" aria-hidden="true"></i>+ Livraison Gratuite</li>
                    </ul>
                  </div>
                </div>
              </a>
              <a href="#">
                <div class="item news-post image-post3">
                  <img src="../../../assets/images/produits/pneu.png" alt="">
                  <div class="hover-box">
                    <h2 class="titlePneus">Minerva FROSTRACK HP M+S 3</h2>
                    <ul class="post-tags">
                      <li><i class='fas fa-info-circle'></i>175/65 R14</li>
                      <li><i class="fa fa-car" aria-hidden="true"></i>Label pneumatique européen</li>
                      <li><i class="fa fa-money" aria-hidden="true"></i>39,76 €</li>
                      <li><i class="fas fa-paper-plane" aria-hidden="true"></i>+ Livraison Gratuite</li>
                    </ul>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="camion">
        <div class="more-autor-posts">
          <div class="carousel-box owl-wrapper">
            <div class="title-section">
              <h1><span>Camion</span><img src="../../../assets/images/pneus/camion.png"></h1>
            </div>
            <div class="owl-carousel" data-num="3">
              <a href="#">
                <div class="item news-post image-post3">
                  <img src="../../../assets/images/produits/pneu.png" alt="">
                  <div class="hover-box">
                    <h2 class="titlePneus">APlus A609</h2>
                    <ul class="post-tags">
                      <li><i class='fas fa-info-circle'></i>155/70 R13</li>
                      <li><i class="fa fa-car" aria-hidden="true"></i>Label pneumatique européen</li>
                      <li><i class="fa fa-money" aria-hidden="true"></i>30,50 €</li>
                      <li><i class="fas fa-paper-plane" aria-hidden="true"></i>+ Livraison Gratuite</li>
                    </ul>
                  </div>
                </div>
              </a>
              <a href="#">
                <div class="item news-post image-post3">
                  <img src="../../../assets/images/produits/pneu.png" alt="">
                  <div class="hover-box">
                    <h2 class="titlePneus">APlus A609</h2>
                    <ul class="post-tags">
                      <li><i class='fas fa-info-circle'></i>165/65 R14</li>
                      <li><i class="fa fa-car" aria-hidden="true"></i>Label pneumatique européen</li>
                      <li><i class="fa fa-money" aria-hidden="true"></i>33,50 €</li>
                      <li><i class="fas fa-paper-plane" aria-hidden="true"></i>+ Livraison Gratuite</li>
                    </ul>
                  </div>
                </div>
              </a>
              <a href="#">
                <div class="item news-post image-post3">
                  <img src="../../../assets/images/produits/pneu.png" alt="">
                  <div class="hover-box">
                    <h2 class="titlePneus">APlus A609</h2>
                    <ul class="post-tags">
                      <li><i class='fas fa-info-circle'></i>155/70 R13</li>
                      <li><i class="fa fa-car" aria-hidden="true"></i>Label pneumatique européen</li>
                      <li><i class="fa fa-money" aria-hidden="true"></i>30,50 €</li>
                      <li><i class="fas fa-paper-plane" aria-hidden="true"></i>+ Livraison Gratuite</li>
                    </ul>
                  </div>
                </div>
              </a>
              <a href="#">
                <div class="item news-post image-post3">
                  <img src="../../../assets/images/produits/pneu.png" alt="">
                  <div class="hover-box">
                    <h2 class="titlePneus">Minerva ALL SEASON MASTER</h2>
                    <ul class="post-tags">
                      <li><i class='fas fa-info-circle'></i>205/55 R16</li>
                      <li><i class="fa fa-car" aria-hidden="true"></i>Label pneumatique européen</li>
                      <li><i class="fa fa-money" aria-hidden="true"></i>52,17 €</li>
                      <li><i class="fas fa-paper-plane" aria-hidden="true"></i>+ Livraison Gratuite</li>
                    </ul>
                  </div>
                </div>
              </a>
              <a href="#">
                <div class="item news-post image-post3">
                  <img src="../../../assets/images/produits/pneu.png" alt="">
                  <div class="hover-box">
                    <h2 class="titlePneus">Goodride ZuperEco Z-107</h2>
                    <ul class="post-tags">
                      <li><i class='fas fa-info-circle'></i>205/50 R17</li>
                      <li><i class="fa fa-car" aria-hidden="true"></i>Label pneumatique européen</li>
                      <li><i class="fa fa-money" aria-hidden="true"></i>51,10 €</li>
                      <li><i class="fas fa-paper-plane" aria-hidden="true"></i>+ Livraison Gratuite</li>
                    </ul>
                  </div>
                </div>
              </a>
              <a href="#">
                <div class="item news-post image-post3">
                  <img src="../../../assets/images/produits/pneu.png" alt="">
                  <div class="hover-box">
                    <h2 class="titlePneus">Minerva FROSTRACK HP M+S 3</h2>
                    <ul class="post-tags">
                      <li><i class='fas fa-info-circle'></i>175/65 R14</li>
                      <li><i class="fa fa-car" aria-hidden="true"></i>Label pneumatique européen</li>
                      <li><i class="fa fa-money" aria-hidden="true"></i>39,76 €</li>
                      <li><i class="fas fa-paper-plane" aria-hidden="true"></i>+ Livraison Gratuite</li>
                    </ul>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="moto">
        <div class="more-autor-posts">
          <div class="carousel-box owl-wrapper">
            <div class="title-section">
              <h1><span>Moto</span><img src="../../../assets/images/pneus/moto.png"></h1>
            </div>
            <div class="owl-carousel" data-num="3">
              <a href="#">
                <div class="item news-post image-post3">
                  <img src="../../../assets/images/produits/pneu.png" alt="">
                  <div class="hover-box">
                    <h2 class="titlePneus">APlus A609</h2>
                    <ul class="post-tags">
                      <li><i class='fas fa-info-circle'></i>155/70 R13</li>
                      <li><i class="fa fa-car" aria-hidden="true"></i>Label pneumatique européen</li>
                      <li><i class="fa fa-money" aria-hidden="true"></i>30,50 €</li>
                      <li><i class="fas fa-paper-plane" aria-hidden="true"></i>+ Livraison Gratuite</li>
                    </ul>
                  </div>
                </div>
              </a>
              <a href="#">
                <div class="item news-post image-post3">
                  <img src="../../../assets/images/produits/pneu.png" alt="">
                  <div class="hover-box">
                    <h2 class="titlePneus">APlus A609</h2>
                    <ul class="post-tags">
                      <li><i class='fas fa-info-circle'></i>165/65 R14</li>
                      <li><i class="fa fa-car" aria-hidden="true"></i>Label pneumatique européen</li>
                      <li><i class="fa fa-money" aria-hidden="true"></i>33,50 €</li>
                      <li><i class="fas fa-paper-plane" aria-hidden="true"></i>+ Livraison Gratuite</li>
                    </ul>
                  </div>
                </div>
              </a>
              <a href="#">
                <div class="item news-post image-post3">
                  <img src="../../../assets/images/produits/pneu.png" alt="">
                  <div class="hover-box">
                    <h2 class="titlePneus">APlus A609</h2>
                    <ul class="post-tags">
                      <li><i class='fas fa-info-circle'></i>155/70 R13</li>
                      <li><i class="fa fa-car" aria-hidden="true"></i>Label pneumatique européen</li>
                      <li><i class="fa fa-money" aria-hidden="true"></i>30,50 €</li>
                      <li><i class="fas fa-paper-plane" aria-hidden="true"></i>+ Livraison Gratuite</li>
                    </ul>
                  </div>
                </div>
              </a>
              <a href="#">
                <div class="item news-post image-post3">
                  <img src="../../../assets/images/produits/pneu.png" alt="">
                  <div class="hover-box">
                    <h2 class="titlePneus">Minerva ALL SEASON MASTER</h2>
                    <ul class="post-tags">
                      <li><i class='fas fa-info-circle'></i>205/55 R16</li>
                      <li><i class="fa fa-car" aria-hidden="true"></i>Label pneumatique européen</li>
                      <li><i class="fa fa-money" aria-hidden="true"></i>52,17 €</li>
                      <li><i class="fas fa-paper-plane" aria-hidden="true"></i>+ Livraison Gratuite</li>
                    </ul>
                  </div>
                </div>
              </a>
              <a href="#">
                <div class="item news-post image-post3">
                  <img src="../../../assets/images/produits/pneu.png" alt="">
                  <div class="hover-box">
                    <h2 class="titlePneus">Goodride ZuperEco Z-107</h2>
                    <ul class="post-tags">
                      <li><i class='fas fa-info-circle'></i>205/50 R17</li>
                      <li><i class="fa fa-car" aria-hidden="true"></i>Label pneumatique européen</li>
                      <li><i class="fa fa-money" aria-hidden="true"></i>51,10 €</li>
                      <li><i class="fas fa-paper-plane" aria-hidden="true"></i>+ Livraison Gratuite</li>
                    </ul>
                  </div>
                </div>
              </a>
              <a href="#">
                <div class="item news-post image-post3">
                  <img src="../../../assets/images/produits/pneu.png" alt="">
                  <div class="hover-box">
                    <h2 class="titlePneus">Minerva FROSTRACK HP M+S 3</h2>
                    <ul class="post-tags">
                      <li><i class='fas fa-info-circle'></i>175/65 R14</li>
                      <li><i class="fa fa-car" aria-hidden="true"></i>Label pneumatique européen</li>
                      <li><i class="fa fa-money" aria-hidden="true"></i>39,76 €</li>
                      <li><i class="fas fa-paper-plane" aria-hidden="true"></i>+ Livraison Gratuite</li>
                    </ul>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- [EO] Pièces et accessoires -->

<section class="container">
  <div class="block-content">
    <div class="single-post-box wide-version">
      <div class="title-section">
        <h1><span>Type des pneus</span></h1>
      </div>
      <div class="article-inpost">
        <div class="row">
          <div class="col-md-3">
            <div class="image-content">
              <div class="image-place">
                <img src="../../../assets/images/pneus/all_seasons.jpg" alt="">
                <div class="hover-image">
                  <a class="zoom" href="../../../assets/images/pneus/all_seasons.jpg"><i
                      class="fa fa-arrows-alt"></i></a>
                </div>
                <img class="position-absolute typePneus" src="../../../assets/images/pneus/icon_all_seasons.png" alt="">
              </div>

            </div>
          </div>
          <div class="col-md-3">
            <div class="image-content">
              <div class="image-place">
                <img src="../../../assets/images/pneus/winter.jpg" alt="">
                <div class="hover-image">
                  <a class="zoom" href="../../../assets/images/pneus/winter.jpg"><i class="fa fa-arrows-alt"></i></a>
                </div>
                <img class="position-absolute typePneus" src="../../../assets/images/pneus/icon_winter.png" alt="">
              </div>

            </div>
          </div>
          <div class="col-md-3">
            <div class="image-content">
              <div class="image-place">
                <img src="../../../assets/images/pneus/summer.jpg" alt="">
                <div class="hover-image">
                  <a class="zoom" href="../../../assets/images/pneus/summer.jpg"><i class="fa fa-arrows-alt"></i></a>
                </div>
                <img class="position-absolute typePneus" src="../../../assets/images/pneus/icon_summer.png" alt="">
              </div>

            </div>
          </div>
          <div class="col-md-3">
            <div class="image-content">
              <div class="image-place">
                <img src="../../../assets/images/pneus/all_seasons.jpg" alt="">
                <div class="hover-image">
                  <a class="zoom" href="../../../assets/images/pneus/all_seasons.jpg"><i
                      class="fa fa-arrows-alt"></i></a>
                </div>
                <img class="position-absolute typePneus" src="../../../assets/images/pneus/icon_all_seasons.png" alt="">
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
