<!-- Slider -->
<section class="single-wide">
  <div class="image-slider">
    <ul class="bxslider">
      <li>
        <div class="news-post image-post">
          <img src="../../../assets/images/pneus/pneu1.jpg" alt="">
        </div>
      </li>
      <li>
        <div class="news-post image-post">
          <img src="../../../assets/images/pneus/pneu2.jpg" alt="">
        </div>
      </li>
      <li>
        <div class="news-post image-post">
          <img src="../../../assets/images/pneus/pneu3.jpg" alt="">
        </div>
      </li>
      <li>
        <div class="news-post image-post">
          <img src="../../../assets/images/pneus/pneu4.jpg" alt="">
        </div>
      </li>
    </ul>
  </div>
</section>
<!-- EO Slider -->

<!-- Pièces et accessoires -->
<section class="sidebar">
  <div class="widget tab-posts-widget">
    <!-- Entêtecontenu de mes tabs -->
    <ul class="nav nav-tabs w-100" id="myTab">
      <li class="active">
        <a href="#auto" data-toggle="tab">AUTO</a>
      </li>
      <li>
        <a href="#sun" data-toggle="tab">4x4/SUV</a>
      </li>
      <li>
        <a href="#camionLeger" data-toggle="tab">CAMION LEGER</a>
      </li>
      <li>
        <a href="#camion" data-toggle="tab">CAMION</a>
      </li>
      <li>
        <a href="#moto" data-toggle="tab">MOTO</a>
      </li>
    </ul>

    <!-- contenu de mes tabs -->
    <div class="tab-content">
      <div class="tab-pane active" id="auto">
        <div class="more-autor-posts">
          <div class="carousel-box owl-wrapper">
            <div class="title-section">
              <h1><span>Auto</span> <img src="../../../assets/images/pneus/auto.png"></h1>
            </div>
            <div class="owl-carousel" data-num="3">
              <a href="#">
                <div class="item news-post image-post3">
                  <img src="../../../assets/images/produits/pneu.png" alt="">
                  <div class="hover-box">
                    <h2 class="titlePneus">APlus A609</h2>
                    <ul class="post-tags">
                      <li><i class='fas fa-info-circle'></i>155/70 R13</li>
                      <li><i class="fa fa-car" aria-hidden="true"></i>Label pneumatique européen</li>
                      <li><i class="fa fa-money" aria-hidden="true"></i>30,50 €</li>
                      <li><i class="fas fa-paper-plane" aria-hidden="true"></i>+ Livraison Gratuite</li>
                    </ul>
                  </div>
                </div>
              </a>
              <a href="#">
                <div class="item news-post image-post3">
                  <img src="../../../assets/images/produits/pneu.png" alt="">
                  <div class="hover-box">
                    <h2 class="titlePneus">APlus A609</h2>
                    <ul class="post-tags">
                      <li><i class='fas fa-info-circle'></i>165/65 R14</li>
                      <li><i class="fa fa-car" aria-hidden="true"></i>Label pneumatique européen</li>
                      <li><i class="fa fa-money" aria-hidden="true"></i>33,50 €</li>
                      <li><i class="fas fa-paper-plane" aria-hidden="true"></i>+ Livraison Gratuite</li>
                    </ul>
                  </div>
                </div>
              </a>
              <a href="#">
                <div class="item news-post image-post3">
                  <img src="../../../assets/images/produits/pneu.png" alt="">
                  <div class="hover-box">
                    <h2 class="titlePneus">APlus A609</h2>
                    <ul class="post-tags">
                      <li><i class='fas fa-info-circle'></i>155/70 R13</li>
                      <li><i class="fa fa-car" aria-hidden="true"></i>Label pneumatique européen</li>
                      <li><i class="fa fa-money" aria-hidden="true"></i>30,50 €</li>
                      <li><i class="fas fa-paper-plane" aria-hidden="true"></i>+ Livraison Gratuite</li>
                    </ul>
                  </div>
                </div>
              </a>
              <a href="#">
                <div class="item news-post image-post3">
                  <img src="../../../assets/images/produits/pneu.png" alt="">
                  <div class="hover-box">
                    <h2 class="titlePneus">Minerva ALL SEASON MASTER</h2>
                    <ul class="post-tags">
                      <li><i class='fas fa-info-circle'></i>205/55 R16</li>
                      <li><i class="fa fa-car" aria-hidden="true"></i>Label pneumatique européen</li>
                      <li><i class="fa fa-money" aria-hidden="true"></i>52,17 €</li>
                      <li><i class="fas fa-paper-plane" aria-hidden="true"></i>+ Livraison Gratuite</li>
                    </ul>
                  </div>
                </div>
              </a>
              <a href="#">
                <div class="item news-post image-post3">
                  <img src="../../../assets/images/produits/pneu.png" alt="">
                  <div class="hover-box">
                    <h2 class="titlePneus">Goodride ZuperEco Z-107</h2>
                    <ul class="post-tags">
                      <li><i class='fas fa-info-circle'></i>205/50 R17</li>
                      <li><i class="fa fa-car" aria-hidden="true"></i>Label pneumatique européen</li>
                      <li><i class="fa fa-money" aria-hidden="true"></i>51,10 €</li>
                      <li><i class="fas fa-paper-plane" aria-hidden="true"></i>+ Livraison Gratuite</li>
                    </ul>
                  </div>
                </div>
              </a>
              <a href="#">
                <div class="item news-post image-post3">
                  <img src="../../../assets/images/produits/pneu.png" alt="">
                  <div class="hover-box">
                    <h2 class="titlePneus">Minerva FROSTRACK HP M+S 3</h2>
                    <ul class="post-tags">
                      <li><i class='fas fa-info-circle'></i>175/65 R14</li>
                      <li><i class="fa fa-car" aria-hidden="true"></i>Label pneumatique européen</li>
                      <li><i class="fa fa-money" aria-hidden="true"></i>39,76 €</li>
                      <li><i class="fas fa-paper-plane" aria-hidden="true"></i>+ Livraison Gratuite</li>
                    </ul>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="sun">
        <div class="more-autor-posts">
          <div class="carousel-box owl-wrapper">
            <div class="title-section">
              <h1><span>Sun</span><img src="../../../assets/images/pneus/SUV.png"></h1>
            </div>
            <div class="owl-carousel" data-num="3">
              <a href="#">
                <div class="item news-post image-post3">
                  <img src="../../../assets/images/produits/pneu.png" alt="">
                  <div class="hover-box">
                    <h2 class="titlePneus">APlus A609</h2>
                    <ul class="post-tags">
                      <li><i class='fas fa-info-circle'></i>155/70 R13</li>
                      <li><i class="fa fa-car" aria-hidden="true"></i>Label pneumatique européen</li>
                      <li><i class="fa fa-money" aria-hidden="true"></i>30,50 €</li>
                      <li><i class="fas fa-paper-plane" aria-hidden="true"></i>+ Livraison Gratuite</li>
                    </ul>
                  </div>
                </div>
              </a>
              <a href="#">
                <div class="item news-post image-post3">
                  <img src="../../../assets/images/produits/pneu.png" alt="">
                  <div class="hover-box">
                    <h2 class="titlePneus">APlus A609</h2>
                    <ul class="post-tags">
                      <li><i class='fas fa-info-circle'></i>165/65 R14</li>
                      <li><i class="fa fa-car" aria-hidden="true"></i>Label pneumatique européen</li>
                      <li><i class="fa fa-money" aria-hidden="true"></i>33,50 €</li>
                      <li><i class="fas fa-paper-plane" aria-hidden="true"></i>+ Livraison Gratuite</li>
                    </ul>
                  </div>
                </div>
              </a>
              <a href="#">
                <div class="item news-post image-post3">
                  <img src="../../../assets/images/produits/pneu.png" alt="">
                  <div class="hover-box">
                    <h2 class="titlePneus">APlus A609</h2>
                    <ul class="post-tags">
                      <li><i class='fas fa-info-circle'></i>155/70 R13</li>
                      <li><i class="fa fa-car" aria-hidden="true"></i>Label pneumatique européen</li>
                      <li><i class="fa fa-money" aria-hidden="true"></i>30,50 €</li>
                      <li><i class="fas fa-paper-plane" aria-hidden="true"></i>+ Livraison Gratuite</li>
                    </ul>
                  </div>
                </div>
              </a>
              <a href="#">
                <div class="item news-post image-post3">
                  <img src="../../../assets/images/produits/pneu.png" alt="">
                  <div class="hover-box">
                    <h2 class="titlePneus">Minerva ALL SEASON MASTER</h2>
                    <ul class="post-tags">
                      <li><i class='fas fa-info-circle'></i>205/55 R16</li>
                      <li><i class="fa fa-car" aria-hidden="true"></i>Label pneumatique européen</li>
                      <li><i class="fa fa-money" aria-hidden="true"></i>52,17 €</li>
                      <li><i class="fas fa-paper-plane" aria-hidden="true"></i>+ Livraison Gratuite</li>
                    </ul>
                  </div>
                </div>
              </a>
              <a href="#">
                <div class="item news-post image-post3">
                  <img src="../../../assets/images/produits/pneu.png" alt="">
                  <div class="hover-box">
                    <h2 class="titlePneus">Goodride ZuperEco Z-107</h2>
                    <ul class="post-tags">
                      <li><i class='fas fa-info-circle'></i>205/50 R17</li>
                      <li><i class="fa fa-car" aria-hidden="true"></i>Label pneumatique européen</li>
                      <li><i class="fa fa-money" aria-hidden="true"></i>51,10 €</li>
                      <li><i class="fas fa-paper-plane" aria-hidden="true"></i>+ Livraison Gratuite</li>
                    </ul>
                  </div>
                </div>
              </a>
              <a href="#">
                <div class="item news-post image-post3">
                  <img src="../../../assets/images/produits/pneu.png" alt="">
                  <div class="hover-box">
                    <h2 class="titlePneus">Minerva FROSTRACK HP M+S 3</h2>
                    <ul class="post-tags">
                      <li><i class='fas fa-info-circle'></i>175/65 R14</li>
                      <li><i class="fa fa-car" aria-hidden="true"></i>Label pneumatique européen</li>
                      <li><i class="fa fa-money" aria-hidden="true"></i>39,76 €</li>
                      <li><i class="fas fa-paper-plane" aria-hidden="true"></i>+ Livraison Gratuite</li>
                    </ul>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="camionLeger">
        <div class="more-autor-posts">
          <div class="carousel-box owl-wrapper">
            <div class="title-section">
              <h1><span>Camion leger</span><img src="../../../assets/images/pneus/camion-leger.png"></h1>
            </div>
            <div class="owl-carousel" data-num="3">
              <a href="#">
                <div class="item news-post image-post3">
                  <img src="../../../assets/images/produits/pneu.png" alt="">
                  <div class="hover-box">
                    <h2 class="titlePneus">APlus A609</h2>
                    <ul class="post-tags">
                      <li><i class='fas fa-info-circle'></i>155/70 R13</li>
                      <li><i class="fa fa-car" aria-hidden="true"></i>Label pneumatique européen</li>
                      <li><i class="fa fa-money" aria-hidden="true"></i>30,50 €</li>
                      <li><i class="fas fa-paper-plane" aria-hidden="true"></i>+ Livraison Gratuite</li>
                    </ul>
                  </div>
                </div>
              </a>
              <a href="#">
                <div class="item news-post image-post3">
                  <img src="../../../assets/images/produits/pneu.png" alt="">
                  <div class="hover-box">
                    <h2 class="titlePneus">APlus A609</h2>
                    <ul class="post-tags">
                      <li><i class='fas fa-info-circle'></i>165/65 R14</li>
                      <li><i class="fa fa-car" aria-hidden="true"></i>Label pneumatique européen</li>
                      <li><i class="fa fa-money" aria-hidden="true"></i>33,50 €</li>
                      <li><i class="fas fa-paper-plane" aria-hidden="true"></i>+ Livraison Gratuite</li>
                    </ul>
                  </div>
                </div>
              </a>
              <a href="#">
                <div class="item news-post image-post3">
                  <img src="../../../assets/images/produits/pneu.png" alt="">
                  <div class="hover-box">
                    <h2 class="titlePneus">APlus A609</h2>
                    <ul class="post-tags">
                      <li><i class='fas fa-info-circle'></i>155/70 R13</li>
                      <li><i class="fa fa-car" aria-hidden="true"></i>Label pneumatique européen</li>
                      <li><i class="fa fa-money" aria-hidden="true"></i>30,50 €</li>
                      <li><i class="fas fa-paper-plane" aria-hidden="true"></i>+ Livraison Gratuite</li>
                    </ul>
                  </div>
                </div>
              </a>
              <a href="#">
                <div class="item news-post image-post3">
                  <img src="../../../assets/images/produits/pneu.png" alt="">
                  <div class="hover-box">
                    <h2 class="titlePneus">Minerva ALL SEASON MASTER</h2>
                    <ul class="post-tags">
                      <li><i class='fas fa-info-circle'></i>205/55 R16</li>
                      <li><i class="fa fa-car" aria-hidden="true"></i>Label pneumatique européen</li>
                      <li><i class="fa fa-money" aria-hidden="true"></i>52,17 €</li>
                      <li><i class="fas fa-paper-plane" aria-hidden="true"></i>+ Livraison Gratuite</li>
                    </ul>
                  </div>
                </div>
              </a>
              <a href="#">
                <div class="item news-post image-post3">
                  <img src="../../../assets/images/produits/pneu.png" alt="">
                  <div class="hover-box">
                    <h2 class="titlePneus">Goodride ZuperEco Z-107</h2>
                    <ul class="post-tags">
                      <li><i class='fas fa-info-circle'></i>205/50 R17</li>
                      <li><i class="fa fa-car" aria-hidden="true"></i>Label pneumatique européen</li>
                      <li><i class="fa fa-money" aria-hidden="true"></i>51,10 €</li>
                      <li><i class="fas fa-paper-plane" aria-hidden="true"></i>+ Livraison Gratuite</li>
                    </ul>
                  </div>
                </div>
              </a>
              <a href="#">
                <div class="item news-post image-post3">
                  <img src="../../../assets/images/produits/pneu.png" alt="">
                  <div class="hover-box">
                    <h2 class="titlePneus">Minerva FROSTRACK HP M+S 3</h2>
                    <ul class="post-tags">
                      <li><i class='fas fa-info-circle'></i>175/65 R14</li>
                      <li><i class="fa fa-car" aria-hidden="true"></i>Label pneumatique européen</li>
                      <li><i class="fa fa-money" aria-hidden="true"></i>39,76 €</li>
                      <li><i class="fas fa-paper-plane" aria-hidden="true"></i>+ Livraison Gratuite</li>
                    </ul>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="camion">
        <div class="more-autor-posts">
          <div class="carousel-box owl-wrapper">
            <div class="title-section">
              <h1><span>Camion</span><img src="../../../assets/images/pneus/camion.png"></h1>
            </div>
            <div class="owl-carousel" data-num="3">
              <a href="#">
                <div class="item news-post image-post3">
                  <img src="../../../assets/images/produits/pneu.png" alt="">
                  <div class="hover-box">
                    <h2 class="titlePneus">APlus A609</h2>
                    <ul class="post-tags">
                      <li><i class='fas fa-info-circle'></i>155/70 R13</li>
                      <li><i class="fa fa-car" aria-hidden="true"></i>Label pneumatique européen</li>
                      <li><i class="fa fa-money" aria-hidden="true"></i>30,50 €</li>
                      <li><i class="fas fa-paper-plane" aria-hidden="true"></i>+ Livraison Gratuite</li>
                    </ul>
                  </div>
                </div>
              </a>
              <a href="#">
                <div class="item news-post image-post3">
                  <img src="../../../assets/images/produits/pneu.png" alt="">
                  <div class="hover-box">
                    <h2 class="titlePneus">APlus A609</h2>
                    <ul class="post-tags">
                      <li><i class='fas fa-info-circle'></i>165/65 R14</li>
                      <li><i class="fa fa-car" aria-hidden="true"></i>Label pneumatique européen</li>
                      <li><i class="fa fa-money" aria-hidden="true"></i>33,50 €</li>
                      <li><i class="fas fa-paper-plane" aria-hidden="true"></i>+ Livraison Gratuite</li>
                    </ul>
                  </div>
                </div>
              </a>
              <a href="#">
                <div class="item news-post image-post3">
                  <img src="../../../assets/images/produits/pneu.png" alt="">
                  <div class="hover-box">
                    <h2 class="titlePneus">APlus A609</h2>
                    <ul class="post-tags">
                      <li><i class='fas fa-info-circle'></i>155/70 R13</li>
                      <li><i class="fa fa-car" aria-hidden="true"></i>Label pneumatique européen</li>
                      <li><i class="fa fa-money" aria-hidden="true"></i>30,50 €</li>
                      <li><i class="fas fa-paper-plane" aria-hidden="true"></i>+ Livraison Gratuite</li>
                    </ul>
                  </div>
                </div>
              </a>
              <a href="#">
                <div class="item news-post image-post3">
                  <img src="../../../assets/images/produits/pneu.png" alt="">
                  <div class="hover-box">
                    <h2 class="titlePneus">Minerva ALL SEASON MASTER</h2>
                    <ul class="post-tags">
                      <li><i class='fas fa-info-circle'></i>205/55 R16</li>
                      <li><i class="fa fa-car" aria-hidden="true"></i>Label pneumatique européen</li>
                      <li><i class="fa fa-money" aria-hidden="true"></i>52,17 €</li>
                      <li><i class="fas fa-paper-plane" aria-hidden="true"></i>+ Livraison Gratuite</li>
                    </ul>
                  </div>
                </div>
              </a>
              <a href="#">
                <div class="item news-post image-post3">
                  <img src="../../../assets/images/produits/pneu.png" alt="">
                  <div class="hover-box">
                    <h2 class="titlePneus">Goodride ZuperEco Z-107</h2>
                    <ul class="post-tags">
                      <li><i class='fas fa-info-circle'></i>205/50 R17</li>
                      <li><i class="fa fa-car" aria-hidden="true"></i>Label pneumatique européen</li>
                      <li><i class="fa fa-money" aria-hidden="true"></i>51,10 €</li>
                      <li><i class="fas fa-paper-plane" aria-hidden="true"></i>+ Livraison Gratuite</li>
                    </ul>
                  </div>
                </div>
              </a>
              <a href="#">
                <div class="item news-post image-post3">
                  <img src="../../../assets/images/produits/pneu.png" alt="">
                  <div class="hover-box">
                    <h2 class="titlePneus">Minerva FROSTRACK HP M+S 3</h2>
                    <ul class="post-tags">
                      <li><i class='fas fa-info-circle'></i>175/65 R14</li>
                      <li><i class="fa fa-car" aria-hidden="true"></i>Label pneumatique européen</li>
                      <li><i class="fa fa-money" aria-hidden="true"></i>39,76 €</li>
                      <li><i class="fas fa-paper-plane" aria-hidden="true"></i>+ Livraison Gratuite</li>
                    </ul>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="moto">
        <div class="more-autor-posts">
          <div class="carousel-box owl-wrapper">
            <div class="title-section">
              <h1><span>Moto</span><img src="../../../assets/images/pneus/moto.png"></h1>
            </div>
            <div class="owl-carousel" data-num="3">
              <a href="#">
                <div class="item news-post image-post3">
                  <img src="../../../assets/images/produits/pneu.png" alt="">
                  <div class="hover-box">
                    <h2 class="titlePneus">APlus A609</h2>
                    <ul class="post-tags">
                      <li><i class='fas fa-info-circle'></i>155/70 R13</li>
                      <li><i class="fa fa-car" aria-hidden="true"></i>Label pneumatique européen</li>
                      <li><i class="fa fa-money" aria-hidden="true"></i>30,50 €</li>
                      <li><i class="fas fa-paper-plane" aria-hidden="true"></i>+ Livraison Gratuite</li>
                    </ul>
                  </div>
                </div>
              </a>
              <a href="#">
                <div class="item news-post image-post3">
                  <img src="../../../assets/images/produits/pneu.png" alt="">
                  <div class="hover-box">
                    <h2 class="titlePneus">APlus A609</h2>
                    <ul class="post-tags">
                      <li><i class='fas fa-info-circle'></i>165/65 R14</li>
                      <li><i class="fa fa-car" aria-hidden="true"></i>Label pneumatique européen</li>
                      <li><i class="fa fa-money" aria-hidden="true"></i>33,50 €</li>
                      <li><i class="fas fa-paper-plane" aria-hidden="true"></i>+ Livraison Gratuite</li>
                    </ul>
                  </div>
                </div>
              </a>
              <a href="#">
                <div class="item news-post image-post3">
                  <img src="../../../assets/images/produits/pneu.png" alt="">
                  <div class="hover-box">
                    <h2 class="titlePneus">APlus A609</h2>
                    <ul class="post-tags">
                      <li><i class='fas fa-info-circle'></i>155/70 R13</li>
                      <li><i class="fa fa-car" aria-hidden="true"></i>Label pneumatique européen</li>
                      <li><i class="fa fa-money" aria-hidden="true"></i>30,50 €</li>
                      <li><i class="fas fa-paper-plane" aria-hidden="true"></i>+ Livraison Gratuite</li>
                    </ul>
                  </div>
                </div>
              </a>
              <a href="#">
                <div class="item news-post image-post3">
                  <img src="../../../assets/images/produits/pneu.png" alt="">
                  <div class="hover-box">
                    <h2 class="titlePneus">Minerva ALL SEASON MASTER</h2>
                    <ul class="post-tags">
                      <li><i class='fas fa-info-circle'></i>205/55 R16</li>
                      <li><i class="fa fa-car" aria-hidden="true"></i>Label pneumatique européen</li>
                      <li><i class="fa fa-money" aria-hidden="true"></i>52,17 €</li>
                      <li><i class="fas fa-paper-plane" aria-hidden="true"></i>+ Livraison Gratuite</li>
                    </ul>
                  </div>
                </div>
              </a>
              <a href="#">
                <div class="item news-post image-post3">
                  <img src="../../../assets/images/produits/pneu.png" alt="">
                  <div class="hover-box">
                    <h2 class="titlePneus">Goodride ZuperEco Z-107</h2>
                    <ul class="post-tags">
                      <li><i class='fas fa-info-circle'></i>205/50 R17</li>
                      <li><i class="fa fa-car" aria-hidden="true"></i>Label pneumatique européen</li>
                      <li><i class="fa fa-money" aria-hidden="true"></i>51,10 €</li>
                      <li><i class="fas fa-paper-plane" aria-hidden="true"></i>+ Livraison Gratuite</li>
                    </ul>
                  </div>
                </div>
              </a>
              <a href="#">
                <div class="item news-post image-post3">
                  <img src="../../../assets/images/produits/pneu.png" alt="">
                  <div class="hover-box">
                    <h2 class="titlePneus">Minerva FROSTRACK HP M+S 3</h2>
                    <ul class="post-tags">
                      <li><i class='fas fa-info-circle'></i>175/65 R14</li>
                      <li><i class="fa fa-car" aria-hidden="true"></i>Label pneumatique européen</li>
                      <li><i class="fa fa-money" aria-hidden="true"></i>39,76 €</li>
                      <li><i class="fas fa-paper-plane" aria-hidden="true"></i>+ Livraison Gratuite</li>
                    </ul>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- [EO] Pièces et accessoires -->
