<!-- End Top line -->
<div class="overlay" tabindex="-1" role="dialog" [ngStyle]="{'display':inscriptionGarages}">
  <div class="modal-dialog">
    <div class="modal-content">
      <span class="close" title="Close Modal" (click)="closePopup()">&times;</span>

      <!-- block content -->
      <div class="block-content-partenaire">

        <!-- contact form box -->
        <div class="contact-form-box">
          <div class="title-section text-center">
            <h1>
              <span>Vous êtes un centre de montage de pneus ou un garage ? Inscrivez-vous :</span>
            </h1>
          </div>
          <form id="contact-form" [formGroup]="userRegister" (ngSubmit)="onRegister()">
            <div class="row">
              <div class="col-md-6">
                <input type="text" id="nomGaragePart"
                  [ngClass]="submitted && userRegister.controls.name.errors ? 'invalidFeedback' : ''"
                  formControlName="name" placeholder="Nom de garage*">
              </div>
              <div class="col-md-6">
                <input id="adresseGaragePart" formControlName="address" type="text" placeholder="Adresse du garage*"
                  [ngClass]="submitted && userRegister.controls.address.errors ? 'invalidFeedback' : ''">
              </div>
              <div class="col-md-6">
                <input id="villeintervention" formControlName="city" type="text" placeholder="Ville(s) d'intervention*"
                  [ngClass]="submitted && userRegister.controls.city.errors ? 'invalidFeedback' : ''">
              </div>
              <div class="col-md-6">
                <input id="zip" formControlName="zip" type="text" placeholder="Code postal*"
                  [ngClass]="submitted && userRegister.controls.zip.errors ? 'invalidFeedback' : ''">
              </div>
              <div class="col-md-6">
                <input id="phoneGaragePart" formControlName="mobile" type="text" placeholder="Numéro de téléphone*"
                  [ngClass]="submitted && userRegister.controls.mobile.errors ? 'invalidFeedback' : ''">
              </div>
              <div class="col-md-6">
                <input id="emailGarage" formControlName="email" type="text" placeholder="Votre adresse mail*"
                  [ngClass]="submitted && userRegister.controls.email.errors ? 'invalidFeedback' : ''">
              </div>
              <div class="col-md-6">
                <input id="prix" formControlName="price" type="int" placeholder="Prix*"
                  [ngClass]="submitted && userRegister.controls.price.errors ? 'invalidFeedback' : ''">
                <div id="error_prix" class="invalid-feedback"> Veuillez entrez votre prix</div>
              </div>
              <div class="col-md-6">
                <select id="lieuDintervention" class="formSelectPieceSurface" name="lieu_intervation"
                  (change)="onSelectDistance($event.target)" [ngClass]="submitted && userRegister.controls.intervention_address.errors ? 'invalidFeedback' : ''">
                  <option *ngFor="let distance of paramsForm.distances;let i=index" [value]="distance"
                    [disabled]="i===0">{{distance}}</option>
                </select>
              </div>
              <div class="col-md-6">
                <input id="diametre" formControlName="tire_size" type="text" placeholder='Diamètre maximum en pouce*'
                  [ngClass]="submitted && userRegister.controls.tire_size.errors ? 'invalidFeedback' : ''">
              </div>
              <div class="col-md-6">
                <input id="password" formControlName="password" type="password" placeholder='password*'
                  [ngClass]="submitted && userRegister.controls.password.errors ? 'invalidFeedback' : ''">
              </div>
              <div class="col-md-12">
                <input id="logo" placeholder="Logo du (garage ou entreprise)*" type="file"
                  (change)="onFileChange($event)">
              </div>
              <div class="col-md-12">
                <input id="mail" formControlName="observation" type="text" placeholder="Votre observation">
              </div>
            </div>
            <div>
              <span class="txt-small champsObligatoires">* Champs obligatoires </span>
            </div>
            <br /><br />
            <button type="submit" form="contact-form" id="submit-contact" name="inscriptionsGarages">
              <i class="bi bi-send"></i>Soumettre
            </button>

          </form>
        </div>
        <!-- End contact form box -->
      </div>
      <!-- End block content -->
    </div>
  </div>
</div>
