.modal-dialog {
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    border-radius: 5px;
    width: 50%;

    // Le bouton croix pour fermer
    .close {
      position: absolute;
      right: 17px;
      top: 8px;
      font-size: 32px;
      font-weight: bold;
      color: #00000080;
      cursor: pointer;

      &:hover,
      &:focus {
        color: #E3A719;
      }
    }

    // Contact form box
    .block-content-partenaire {
      padding: 20px;

      .contact-form-box {
        #contact-form {

          input[type=text]:focus,
          input[type=password]:focus {
            background-color: #ddd;
            outline: none;
          }

          // Si erreur
          .invalidFeedback {
            border: 1px solid red !important;
          }

          #submit-contact {
            padding: 8px 50px;
          }
        }

      }
    }
  }
}

@media (max-width: 991px) {

  .block-content-partenaire {
    height: 80%;
    overflow: auto;

    .contact-form-box {
      #contact-form {
        margin: 25px;

        input,
        select {
          border-left: solid 2px #E3A719;
        }
      }
    }
  }
}