<!-- End Top line -->
<div class="overlay" tabindex="-1" role="dialog" [ngStyle]="{'display':inscriptionGarages}">
  <div class="modal-dialog">
    <div class="modal-content">
      <span class="close" title="Close Modal" (click)="closePopup()">&times;</span>

      <!-- block content -->
      <div class="block-content-partenaire">

        <!-- contact form box -->
        <div class="contact-form-box">
          <div class="title-section text-center">
            <h1>
              <span>Vous êtes un centre de montage de pneus ou un garage ? Inscrivez-vous :</span>
            </h1>
          </div>
          <form id="contact-form" [formGroup]="userRegister" (ngSubmit)="onRegister()">
            <div class="row">
              <div class="col-md-6">
                <input id="nomGaragePart" formControlName="nom_garage" type="text" placeholder="Nom de garage*"
                       required>
                <div id="error_nomGarage" class="invalid-feedback"> Veuillez entrez un nom de garage .</div>
              </div>
              <div class="col-md-6">
                <input id="adresseGaragePart" formControlName="adresse_garage" type="text"
                       placeholder="Adresse du garage*"
                       required>
                <div id="error_adresseGarage" class="invalid-feedback"> Veuillez entrer un nom de garage .</div>
              </div>
              <div class="col-md-6">
                <input id="villeintervention" formControlName="ville_garage" type="text"
                       placeholder="Ville(s) d'intervention*"
                       required>
                <div id="error_intervention" class="invalid-feedback"> Veuillez faire un choix d'intervention .</div>
              </div>
              <div class="col-md-6">

                <input id="phoneGaragePart" formControlName="telephone_garage" type="text"
                       placeholder="Numéro de téléphone*">
                <div id="error_phone" class="invalid-feedback"> Veuillez entrez un N° valide .</div>

              </div>
              <div class="col-md-6">
                <input id="emailGarage" formControlName="email_garage" type="text" placeholder="Votre adresse mail*"
                       required>
                <div id="errorEmailGarage" class="invalid-feedback"> Veuillez vérifier votre adresse E-mail .</div>
              </div>
              <div class="col-md-6">
                <input id="prix" formControlName="prix_garage" type="int" placeholder="Prix*" required>
                <div id="error_prix" class="invalid-feedback"> Veuillez entrez votre prix</div>
              </div>
              <div class="col-md-6">
                <select id="lieuDintervention" class="formSelectPieceSurface" name="lieu_intervation_garage"
                        (change)="onSelectDistance($event.target)">
                  <option *ngFor="let distance of paramsForm.distances;let i=index" [value]="distance"
                          [disabled]="i===0">{{distance}}</option>
                </select>
                <div id="error_lieu" class="invalid-feedback"> Veuillez choisir un lieu d'intervention.</div>
              </div>
              <div class="col-md-6">
                <input id="diametre" formControlName="diametre_pneu" type="text"
                       placeholder='Diamètre maximum en pouce*' required>
                <div id="error_diametre" class="invalid-feedback"> Veuillez choisir le diametre des pneus .</div>
              </div>
               <div class="col-md-6">
                <input id="mot_de_passe" formControlName="mot_de_passe" type="password"
                       placeholder='mot_de_passe*' required>
                <div id="error_mot_de_passe" class="invalid-feedback"> Veuillez mot_de_passe .</div>
              </div>
              <div class="col-md-12">
                <input id="logo" placeholder="Logo du (garage ou entreprise)*" formControlName="logo_garage"
                       type="text">
              </div>
              <div class="col-md-12">
                <input id="mail" formControlName="observation" type="text" placeholder="Votre observation">
              </div>
            </div>
            <div>
              <span class="txt-small champsObligatoires">* Champs obligatoires </span>
            </div>
            <br/><br/>
            <button type="submit" form="contact-form" id="submit-contact" name="inscriptionsGarages">
              <i class="far fa-paper-plane"></i>Soumettre
            </button>

          </form>
        </div>
        <!-- End contact form box -->
      </div>
      <!-- End block content -->
    </div>
  </div>
</div>
