<!-- Equipements -->
<div class="carousel-box owl-wrapper">

  <div class="title-section">
    <h1>
      <span>Des équipements pas chers et de grandes marques</span>

    </h1>

  </div>
  <!-- Caroussel equipement -->
  <div class="owl-carousel" data-num="2">
    <div class="item">
      <div class="news-post image-post2">
        <div class="post-gallery">
          <img src="../../../../assets/images/produits/accessoire.png" alt="Accessoire">
          <div class="hover-box">
            <div class="inner-hover">
              <a class="category-post world">Accessoires voitures</a>
            </div>
          </div>
        </div>
      </div>
      <div class="news-post image-post2">
        <div class="post-gallery">
          <img src="../../../../assets/images/produits/ampoules.png" alt="Ampoules">
          <div class="hover-box">
            <div class="inner-hover">
              <a class="category-post food">Ampoules voitures</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="news-post image-post2">
        <div class="post-gallery">
          <img src="../../../../assets/images/produits/outillage.png" alt="Outillage">
          <div class="hover-box">
            <div class="inner-hover">
              <a class="category-post travel">Outillages & équipements</a>
            </div>
          </div>
        </div>
      </div>
      <div class="news-post image-post2">
        <div class="post-gallery">
          <img src="../../../../assets/images/produits/pneu.png" alt="Pneu">
          <div class="hover-box">
            <div class="inner-hover">
              <a class="category-post fashion" href="pneus">Pneus</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="news-post image-post2">
        <div class="post-gallery">
          <img src="../../../../assets/images/produits/produit_nettoyage.png" alt="Produit de nettoyage">
          <div class="hover-box">
            <div class="inner-hover">
              <a class="category-post food">Produits de nettoyage et d'entretien du véhicule</a>
            </div>
          </div>
        </div>
      </div>
      <div class="news-post image-post2">
        <div class="post-gallery">
          <img src="../../../../assets/images/produits/plaquette.png" alt="Plaquette">
          <div class="hover-box">
            <div class="inner-hover">
              <a class="category-post world">Plaquettes de frein</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="news-post image-post2">
        <div class="post-gallery">
          <img src="../../../../assets/images/produits/huille_moteur.png" alt="Huille_moteur">
          <div class="hover-box">
            <div class="inner-hover">
              <a class="category-post food">Huile moteur auto</a>
            </div>
          </div>
        </div>
      </div>
      <div class="news-post image-post2">
        <div class="post-gallery">
          <img src="../../../../assets/images/produits/garages_partenaires.png" alt="Garages partenaires">
          <div class="hover-box">
            <div class="inner-hover">
              <a class="category-post world" href="garagesPartenaires">Garages partenaires</a>
            </div>
          </div>
        </div>
      </div>

    </div>


  </div><!-- Caroussel equipement -->
</div>
<!-- End Equipements -->
