<div class="container">
  <div class="card p-0">
    <div class="d-flex align-items-center justify-content-center position-sticky top-0 card-header">
      <p class="p-0">Les dernières commandes</p>
    </div>

    <div class="card-body p-0">
      <div class="table-responsive table-wrapper-scroll-y my-custom-scrollbar">
        <table class="table table-striped table-hover table-bordered m-0">
          <thead class="position-sticky top-0 bg-white">
            <tr>
              <th scope="col" *ngFor="let label of params.labels">{{label}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of params.datas; let i=index">
              <td *ngFor="let d of data; let j=index">
                <span *ngIf="[0, 3].indexOf(j) < 0">{{d}}</span>
                <a (click)="getFacture(d, j)" *ngIf="[0, 3].indexOf(j) > -1">{{d}}</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>