.container {
  padding: 0;

  .card {
    margin: 0 0 20px 0;

    .card-header {
      padding: 20px;

      p {
        font-size: 20px;
        padding: 0;
        margin: 0;
        color: #e3a719;
      }
    }

    .table-responsive {
      .table {
        font-size: 14px;
        font-family: "Myriad Pro", sans-serif;
        font-weight: 400;
        line-height: 20px;

        tbody {
          tr {

            td {
              color: #999999;

              a {
                cursor: pointer;
                color: var(--bs-link-color);
              }
            }
          }
        }
      }
    }

  }


}