<div id="container">

  <!-- block-wrapper-section
			================================================== -->
  <section class="block-wrapper">
    <div class="container">


      <!-- block content -->
      <div class="block-content">

        <!-- forum box -->
        <div class="forum-box">
          <div class="row">
            <div class="col-sm-4 monEspace">
              <div class="forum-table">
                <div class="table-head">
                  <div class="first-col text-center"><span>Mon compte</span></div>
                </div>
                <div class="table-row">
                  <div class="first-col">
                    <p>Nom et Prénom</p>
                    <h2>N° client 673857</h2>
                    <p>bobopneus@gmail.com</p>
                    <p>+336 00 00 00 00</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4 monEspace">
              <div class="forum-table">
                <div class="table-head">
                  <div class="first-col text-center"><span>Mes adresses</span></div>
                </div>
                <div class="table-row">
                  <div class="first-col">
                    <p>Nom et Prénom</p>
                    <h2>N° client 673857</h2>
                    <p>bobopneus@gmail.com</p>
                    <p>+336 00 00 00 00</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="col-sm-4 monEspace">
              <div class="forum-table">
                <div class="table-head">
                  <div class="first-col text-center"><span>MES MOYENS DE PAIEMENT</span></div>
                </div>
                <div class="table-row">
                  <div class="first-col">
                    <p>Nom et Prénom</p>
                    <h2>N° client 673857</h2>
                    <p>bobopneus@gmail.com</p>
                    <p>+336 00 00 00 00</p>
                  </div>
                </div>
              </div>
            </div> -->
            <div class="col-sm-4 monEspace">
              <div class="forum-table">
                <div class="table-head">
                  <div class="first-col text-center"><span>NOUS CONTACTER</span></div>
                </div>
                <div class="table-row">
                  <div class="first-col">
                    <p>bobopneus@gmail.com</p>
                    <p>+336 00 00 00 00</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12 monEspace">
              <div class="forum-table">
                <div class="table-head">
                  <div class="first-col text-center"><a href="#">Mes commandes</a></div>
                </div>
                <div class="table-row">
                  <div class="first-col">
                    <h2><a href="#">Getting Started</a></h2>
                    <p>Phasellus lacinia, magna a ullamcorper laoreet</p>
                  </div>
                  <div class="second-col">
                    <p><span>3</span> Topics</p>
                    <p><span>6</span> Posts</p>
                  </div>
                  <div class="third-col">
                    <div class="post-autor-date">
                      <p>by <a href="#">John</a></p>
                      <p>1 year, 1 month ago</p>
                    </div>
                  </div>
                </div>
                <div class="table-row">
                  <div class="first-col">
                    <h2><a href="#">Web Design</a></h2>
                    <p>Phasellus lacinia, magna a ullamcorper</p>
                  </div>
                  <div class="second-col">
                    <p><span>2</span> Topics</p>
                    <p><span>3</span> Posts</p>
                  </div>
                  <div class="third-col">
                    <div class="post-autor-date">
                      <p>by <a href="#">admin</a></p>
                      <p>1 year, 1 month ago</p>
                    </div>
                  </div>
                </div>
                <div class="table-row">
                  <div class="first-col">
                    <h2><a href="#">Off Topics</a></h2>
                    <p>Phasellus lacinia, magna a ullamcorper</p>
                  </div>
                  <div class="second-col">
                    <p><span>1</span> Topics</p>
                    <p><span>2</span> Posts</p>
                  </div>
                  <div class="third-col">
                    <div class="post-autor-date">
                      <p>by <a href="#">John</a></p>
                      <p>1 year, 1 month ago</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End forum box -->

      </div>
      <!-- End block content -->

    </div>
  </section>

</div>