<!-- Jantes -->
<div class="carousel-box owl-wrapper">
  <div class="title-section">
    <h1>
      <span>Des qualités inédites des jantes toutes marques</span>
    </h1>
  </div>
  <div class="owl-carousel" data-num="3">
    <div class="item news-post image-post3">
      <img src="assets/images/pieces/jante/lucca.jpg" alt="">
      <div class="hover-box jante">
        <h2>
          <a>B2</a>
        </h2>
      </div>
    </div>
    <div class="item news-post image-post3">
      <img src="assets/images/pieces/jante/b2.jpg" alt="">
      <div class="hover-box jante">
        <h2>
          <a>B38</a>
        </h2>
      </div>
    </div>
    <div class="item news-post image-post3">
      <img src="assets/images/pieces/jante/lucca.jpg" alt="">
      <div class="hover-box jante">
        <h2>
          <a>Complète</a>
        </h2>
      </div>
    </div>
    <div class="item news-post image-post3">
      <img src="assets/images/pieces/jante/kodiak.jpg" alt="">
      <div class="hover-box jante">
        <h2>
          <a>kodiak</a>
        </h2>
      </div>
    </div>
    <div class="item news-post image-post3">
      <img src="assets/images/pieces/jante/munchen.jpg" alt="">
      <div class="hover-box jante">
        <h2>
          <a>B38</a>
        </h2>
      </div>
    </div>
    <div class="item news-post image-post3">
      <img src="assets/images/pieces/jante/rs3.jpg" alt="">
      <div class="hover-box jante">
        <h2>
          <a>Nepa</a>
        </h2>
      </div>
    </div>
  </div>
</div>
<!-- [EO] Jantes -->