<!-- Pièces et accessoires -->
<div class="sidebar">
  <div class="widget tab-posts-widget">
    <blockquote>
      <em><strong>Achetez vos pièces auto en ligne sur BOBO Pneus & Equipements : </strong></em>
      <p>Vous recherchez une pièce détachée d'origine équipementier ? Nous vous proposons des pièces d'origine pour
        differents marques de véhicules, dont Peugeot, Citroën, Opel, Renault, Audi, Ford, BMW, Mercedes, Nissan et
        beaucoup d'autres encore. Explorez notre catalogue tout simplement pour trouver la pièce qu'il vous faut.
        Trouver la pièce compatible avec votre voiture n'aura jamais été aussi facile !</p>
    </blockquote>

    <ul class="nav nav-tabs w-100" id="myTab">
      <li class="active">
        <a href="#auto" data-toggle="tab">PIÈCES AUTOS</a>
      </li>
      <li>
        <a href="#camion" data-toggle="tab">PIÈCES CAMIONS</a>
      </li>
      <li>
        <a href="#accessoire" data-toggle="tab">ACCESSOIRES AUTOS</a>
      </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="auto">
        <ul class="list-posts">
          <li class="d-flex align-items-center">
            <img src="http://www.bobopneus-equipements.com/static/images/pieces/automobile/amortissuer.png" alt="">
            <div class="post-content">
              <h2><a>Amortissuer</a></h2>
              <p>Le mauvais état des amortisseurs peut avoir des conséquences</p>
            </div>
          </li>
          <li class="d-flex align-items-center">
            <img src="http://www.bobopneus-equipements.com/static/images/pieces/automobile/bougie.png" alt="">
            <div class="post-content">
              <h2><a>Bougie</a></h2>
              <p>Parcourez notre large gamme de bougie</p>
            </div>
          </li>
          <li class="d-flex align-items-center">
            <img src="http://www.bobopneus-equipements.com/static/images/pieces/automobile/carrosserie.png" alt="">
            <div class="post-content">
              <h2><a>Carrosserie</a></h2>
              <p>Protégez votre voiture de toutes les agressions sur votre carrosserie</p>
            </div>
          </li>
          <li class="d-flex align-items-center">
            <img src="http://www.bobopneus-equipements.com/static/images/pieces/automobile/direction.png" alt="">
            <div class="post-content">
              <h2><a>Direction</a></h2>
              <p>Chaque piéces a une mission à accomplir pour offrir un fonctionnement complet et sécurisé.</p>
            </div>
          </li>
          <li class="d-flex align-items-center">
            <img src="http://www.bobopneus-equipements.com/static/images/pieces/automobile/amortissuer.png" alt="">
            <div class="post-content">
              <h2><a>Amortissuer</a></h2>
              <p>Le mauvais état des amortisseurs peut avoir des conséquences</p>
            </div>
          </li>
          <li class="d-flex align-items-center">
            <img src="http://www.bobopneus-equipements.com/static/images/pieces/automobile/bougie.png" alt="">
            <div class="post-content">
              <h2><a>Bougie</a></h2>
              <p>Parcourez notre large gamme de bougie</p>
            </div>
          </li>
          <li class="d-flex align-items-center">
            <img src="http://www.bobopneus-equipements.com/static/images/pieces/automobile/carrosserie.png" alt="">
            <div class="post-content">
              <h2><a>Carrosserie</a></h2>
              <p>Protégez votre voiture de toutes les agressions sur votre carrosserie</p>
            </div>
          </li>
          <li class="d-flex align-items-center">
            <img src="http://www.bobopneus-equipements.com/static/images/pieces/automobile/direction.png" alt="">
            <div class="post-content">
              <h2><a>Direction</a></h2>
              <p>Chaque piéces a une mission à accomplir pour offrir un fonctionnement complet et sécurisé.</p>
            </div>
          </li>
          <li class="d-flex align-items-center">
            <img src="http://www.bobopneus-equipements.com/static/images/pieces/automobile/amortissuer.png" alt="">
            <div class="post-content">
              <h2><a>Amortissuer</a></h2>
              <p>Le mauvais état des amortisseurs peut avoir des conséquences</p>
            </div>
          </li>
          <li class="d-flex align-items-center">
            <img src="http://www.bobopneus-equipements.com/static/images/pieces/automobile/bougie.png" alt="">
            <div class="post-content">
              <h2><a>Bougie</a></h2>
              <p>Parcourez notre large gamme de bougie</p>
            </div>
          </li>
          <li class="d-flex align-items-center">
            <img src="http://www.bobopneus-equipements.com/static/images/pieces/automobile/carrosserie.png" alt="">
            <div class="post-content">
              <h2><a>Carrosserie</a></h2>
              <p>Protégez votre voiture de toutes les agressions sur votre carrosserie</p>
            </div>
          </li>
          <li class="d-flex align-items-center">
            <img src="http://www.bobopneus-equipements.com/static/images/pieces/automobile/direction.png" alt="">
            <div class="post-content">
              <h2><a>Direction</a></h2>
              <p>Chaque piéces a une mission à accomplir pour offrir un fonctionnement complet et sécurisé.</p>
            </div>
          </li>
          <li class="d-flex align-items-center">
            <img src="http://www.bobopneus-equipements.com/static/images/pieces/automobile/amortissuer.png" alt="">
            <div class="post-content">
              <h2><a>Amortissuer</a></h2>
              <p>Le mauvais état des amortisseurs peut avoir des conséquences</p>
            </div>
          </li>
          <li class="d-flex align-items-center">
            <img src="http://www.bobopneus-equipements.com/static/images/pieces/automobile/bougie.png" alt="">
            <div class="post-content">
              <h2><a>Bougie</a></h2>
              <p>Parcourez notre large gamme de bougie</p>
            </div>
          </li>
          <li class="d-flex align-items-center">
            <img src="http://www.bobopneus-equipements.com/static/images/pieces/automobile/amortissuer.png" alt="">
            <div class="post-content">
              <h2><a>Amortissuer</a></h2>
              <p>Le mauvais état des amortisseurs peut avoir des conséquences</p>
            </div>
          </li>
          <li class="d-flex align-items-center">
            <img src="http://www.bobopneus-equipements.com/static/images/pieces/automobile/carrosserie.png" alt="">
            <div class="post-content">
              <h2><a>Carrosserie</a></h2>
              <p>Protégez votre voiture de toutes les agressions sur votre carrosserie</p>
            </div>
          </li>
          <li class="d-flex align-items-center">
            <img src="http://www.bobopneus-equipements.com/static/images/pieces/automobile/direction.png" alt="">
            <div class="post-content">
              <h2><a>Direction</a></h2>
              <p>Chaque piéces a une mission à accomplir pour offrir un fonctionnement complet et sécurisé.</p>
            </div>
          </li>

        </ul>
      </div>
      <div class="tab-pane" id="camion">
        <ul class="list-posts">
          <li class="d-flex align-items-center">
            <img src="http://www.bobopneus-equipements.com/static/images/pieces/camion/Alimentation_carburant.png"
              alt="">
            <div class="post-content">
              <h2><a>Alimentation carburant</a></h2>
              <p>Les frottements des tubes occasionnent des lésions qui désamorcent le circuit,cette panne est
                instantanée.</p>
            </div>
          </li>
          <li class="d-flex align-items-center">
            <img src="http://www.bobopneus-equipements.com/static/images/pieces/camion/boite_de_vitesses.png" alt="">
            <div class="post-content">
              <h2><a>Boite de vitesses </a></h2>
              <p>Offrez une nouvelle vie à votre boîte de vitesse !</p>
            </div>
          </li>
          <li class="d-flex align-items-center">
            <img src="http://www.bobopneus-equipements.com/static/images/pieces/camion/carburation.png" alt="">
            <div class="post-content">
              <h2><a>Carburation</a></h2>
              <p>Nos carburateurs sont faits de matériaux de première qualité, qui sont durables et robustes</p>
            </div>
          </li>
          <li class="d-flex align-items-center">
            <img src="http://www.bobopneus-equipements.com/static/images/pieces/camion/freinage.png" alt="">
            <div class="post-content">
              <h2><a>Freinage</a></h2>
              <p>Des packs adaptés à votre véhicule comprenant toutes les pièces nécessaires + les montages sont
                disponibles.</p>
            </div>
          </li>
          <li class="d-flex align-items-center">
            <img src="http://www.bobopneus-equipements.com/static/images/pieces/camion/Alimentation_carburant.png"
              alt="">
            <div class="post-content">
              <h2><a>Alimentation carburant</a></h2>
              <p>Les frottements des tubes occasionnent des lésions qui désamorcent le circuit,cette panne est
                instantanée.</p>
            </div>
          </li>
          <li class="d-flex align-items-center">
            <img src="http://www.bobopneus-equipements.com/static/images/pieces/camion/boite_de_vitesses.png" alt="">
            <div class="post-content">
              <h2><a>Boite de vitesses </a></h2>
              <p>Offrez une nouvelle vie à votre boîte de vitesse !</p>
            </div>
          </li>
          <li class="d-flex align-items-center">
            <img src="http://www.bobopneus-equipements.com/static/images/pieces/camion/carburation.png" alt="">
            <div class="post-content">
              <h2><a>Carburation</a></h2>
              <p>Nos carburateurs sont faits de matériaux de première qualité, qui sont durables et robustes</p>
            </div>
          </li>
          <li class="d-flex align-items-center">
            <img src="http://www.bobopneus-equipements.com/static/images/pieces/camion/freinage.png" alt="">
            <div class="post-content">
              <h2><a>Freinage</a></h2>
              <p>Des packs adaptés à votre véhicule comprenant toutes les pièces nécessaires + les montages sont
                disponibles.</p>
            </div>
          </li>
        </ul>
      </div>
      <div class="tab-pane" id="accessoire">
        <ul class="list-posts">
          <li class="d-flex align-items-center">
            <img src="http://www.bobopneus-equipements.com/static/images/pieces/accessoire_auto/acc_animaux.png" alt="">
            <div class="post-content">
              <h2><a>Accessoires de voyage pour animaux de compagnie</a></h2>
              <p>Voyagez avec votre animal de compagnie en toute sérénité !</p>
            </div>
          </li>
          <li class="d-flex align-items-center">
            <img src="http://www.bobopneus-equipements.com/static/images/pieces/accessoire_auto/acc_exterieur.png"
              alt="">
            <div class="post-content">
              <h2><a>Accessoires extérieurs</a></h2>
              <p>Envie d'un changement sur votre véhicule visiter alors notre catégorie !</p>
            </div>
          </li>
          <li class="d-flex align-items-center">
            <img src="http://www.bobopneus-equipements.com/static/images/pieces/accessoire_auto/autoradio.png" alt="">
            <div class="post-content">
              <h2><a>Autoradio</a></h2>
              <p>Nos autoradio seront mettre l'ambiance dans votre véhicule !</p>
            </div>
          </li>
          <li class="d-flex align-items-center">
            <img src="http://www.bobopneus-equipements.com/static/images/pieces/accessoire_auto/camera_recul.png"
              alt="">
            <div class="post-content">
              <h2><a>Camera de recul</a></h2>
              <p>Nos caméras de recul vous aideront à être vigilant lors de vos tonneaux</p>
            </div>
          </li>
          <li class="d-flex align-items-center">
            <img src="http://www.bobopneus-equipements.com/static/images/pieces/accessoire_auto/acc_animaux.png" alt="">
            <div class="post-content">
              <h2><a>Accessoires de voyage pour animaux de compagnie</a></h2>
              <p>Voyagez avec votre animal de compagnie en toute sérénité !</p>
            </div>
          </li>
          <li class="d-flex align-items-center">
            <img src="http://www.bobopneus-equipements.com/static/images/pieces/accessoire_auto/acc_exterieur.png"
              alt="">
            <div class="post-content">
              <h2><a>Accessoires extérieurs</a></h2>
              <p>Envie d'un changement sur votre véhicule visiter alors notre catégorie !</p>
            </div>
          </li>
          <li class="d-flex align-items-center">
            <img src="http://www.bobopneus-equipements.com/static/images/pieces/accessoire_auto/autoradio.png" alt="">
            <div class="post-content">
              <h2><a>Autoradio</a></h2>
              <p>Nos autoradio seront mettre l'ambiance dans votre véhicule !</p>
            </div>
          </li>
          <li class="d-flex align-items-center">
            <img src="http://www.bobopneus-equipements.com/static/images/pieces/accessoire_auto/camera_recul.png"
              alt="">
            <div class="post-content">
              <h2><a>Camera de recul</a></h2>
              <p>Nos caméras de recul vous aideront à être vigilant lors de vos tonneaux</p>
            </div>
          </li>

        </ul>
      </div>
    </div>
  </div>
</div>
<!-- [EO] Pièces et accessoires -->
