<!-- Top line -->
<div class="top-line">
  <div class="container">
    <div class="row">
      <div class="col-md-5 d-flex align-items-center solde">
        Soldes Jusqu'a -70% ! ULTIME DEMARQUE / les meilleurs promos
      </div>
      <div class="col-md-7">
        <ul class="top-line-list">
          <!-- Panier -->
          <li class="panier">
            <a class="nmbreArticle">
              <i class="bi bi-cart-plus"></i>
              <span>10 article(s)</span>
            </a>
            <span class="somme">0,00&nbsp;€</span>
          </li>
          <!-- EO panier -->

          <!-- Inscription -->
          <li class="inscription" (click)="inscriptionGarages = 'block'">
            <a>
              <i class="bi bi-pencil-square"></i>
              Inscription garage
            </a>
          </li>
          <!-- EO inscription -->


          <!-- <li [ngClass]='getLogged() ? "deconnection" : "connection"' (click)="loginOut()">
            <a>
              <i [ngClass]='getLogged()?"fas fa-user-tag":"fas fa-user-lock"'></i>
              {{getLogged() ? "Déconnection" : "Connection"}}
            </a>
          </li> -->

          <!-- Connection -->
          <li *ngIf="!getLogged()" (click)="loginOut()" class="connection">
            <a>
              {{!getLogged() ? "Connection" : ""}}
              <i class="bi bi-box-arrow-left"></i>
            </a>
          </li>
          <li *ngIf="getLogged()" (click)="loginOut()" class="deconnection">
            <a>
              Lassana GARY
              <i class="bi bi-box-arrow-right"></i>
            </a>
          </li>
          <!-- EO connection -->
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- End Top line -->

<!-- Nav Bar -->
<nav class="navbar navbar-expand-lg nav-list-container">
  <div class="container">
    <a routerLink="/"><img src="../../../assets/images/logo/logo.png" alt="logo"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end p-0 m-0" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">ACCUEIL</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="pneus-auto-moto">PNEUS AUTO & MOTO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="equipements-auto-moto">EQUIPEMENTS AUTO & MOTO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="garages-partenaires">GARAGES PARTENAIRES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contact">CONTACT</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- EO Nav Bar -->

<!-- Inscription garage -->
<app-popup-inscription-garages *ngIf="this.inscriptionGarages === 'block'"
  [inscriptionGarages]="this.inscriptionGarages" (emitNoneDisplay)="inscriptionGarages = 'none'">
</app-popup-inscription-garages>

<!-- Page de connection -->
<app-connection *ngIf="this.connection === 'block'" [connection]="this.connection"
  (emitNoneDisplay)="connection = 'none'">
</app-connection>