<div class="overlay" tabindex="-1" role="dialog" [ngStyle]="{'display':garages}">
  <div class="modal-dialog">
    <div class="modal-content">
      <span (click)="closePopup()" class="close">&times;</span>
      <div class="block-content">
        <div class="title-section">
          <h1><span>Garage Auxonne</span></h1>
        </div>
        <!-- forum box -->
        <div class="forum-box">
          <div class="forum-table">
            <div class="table-head">
              <div class="first-col"><span>Montage auto</span></div>
              <div class="second-col"><span>Horaires d'ouverture</span></div>
              <div class="third-col"><span>AUXONNE</span></div>
            </div>
            <div class="table-row">
              <div class="first-col">
                <ul>
                  <li class="garage-liste-service">Prix par pneu sur jante tôle : <strong>30 €</strong></li>
                  <li class="garage-liste-service">Diamètre maxi : <strong>15"</strong></li>
                  <li class="garage-liste-service">Gonflage à l'azote : <strong>non</strong></li>
                  <li class="garage-liste-service">Géométrie : <strong>non</strong></li>
                  <li class="garage-liste-service">Runflat : <strong>oui</strong></li>
                  <li class="garage-liste-service">TPMS : <strong>non</strong></li>
                </ul>
              </div>
              <div class="second-col">
                <li class="garage-liste-service">lundi : <strong>08:00 - 18:00</strong></li>
                <li class="garage-liste-service">mardi : <strong>08:00 - 18:00</strong></li>
                <li class="garage-liste-service">mercredi : <strong>8:00 - 18:00</strong>0</li>
                <li class="garage-liste-service">jeudi : <strong>08:00 - 18:00</strong></li>
                <li class="garage-liste-service">vendredi : <strong>08:00 - 18:00</strong></li>
                <li class="garage-liste-service">samedi : <strong>fermé</strong></li>
                <li class="garage-liste-service">dimanche : <strong>fermé</strong></li>
              </div>
              <div class="third-col">
                <!-- <img src="../../../../assets/images/logo/1630406198124-1242304_computer-clipart-free.jpg" alt=""> -->
                <div class="post-autor-date">
                  <p>Mail: <strong>contact@mail.com</strong></p>
                  <p>Tél. : <strong>06 00 00 00 00</strong></p>
                  <p><a href="#">28 rue pierre joseph 28500 vernouillet </a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
