.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 1;
  overflow-y: scroll;

  .modal-dialog {
    .modal-content {
      background-color: #fefefe;
      margin: 5% auto 15% auto;
      border: 1px solid #888;
      border-radius: 5px;
      width: 65%;

      .block-content {
        padding: 20px 0 0 0 !important;

        .title-section h1 span {
          padding: 0 5px 16px 20px !important;
        }

        .forum-table {
          margin-bottom: 0 !important;

          .table-row {
            border: none !important;
          }
        }
      }

      h1 {
        color: #222222;
        font-size: 15px;
        font-family: "Myriad Pro", sans-serif;
        font-weight: 700;
        margin: 0 0 30px;
        text-transform: uppercase;
        margin-bottom: -1px;
      }

      // Le bouton croix pour fermer
      .close {
        position: absolute;
        right: 17px;
        top: 8px;
        font-size: 32px;
        font-weight: bold;
        color: #00000080;
        cursor: pointer;
        z-index: 2;

        &:hover,
        &:focus {
          color: #E3A719;
        }
      }
    }
  }
}
