<div class="overlay" tabindex="-1" role="dialog" [ngStyle]="{'display':garages}">
  <div class="modal-dialog">
    <div class="modal-content">
      <span (click)="closePopup()" class="close">&times;</span>
      <div class="block-content">
        <div class="title-section">
          <h1><span>Garage Auxonne</span></h1>
        </div>
        <!-- forum box -->
        <div class="forum-box">
          <div class="forum-table">
            <div class="table-head">
              <div class="first-col"><span>Montage auto</span></div>
              <div class="second-col"><span>Horaires d'ouverture</span></div>
              <div class="third-col"><span>AUXONNE</span></div>
            </div>
            <div class="table-row">
              <div class="first-col">
                <ul>
                  <li class="garage-liste-service">Prix par pneu sur jante tôle : 30 €</li>
                  <li class="garage-liste-service">Diamètre maxi :15"</li>
                  <li class="garage-liste-service">Gonflage à l'azote : non</li>
                  <li class="garage-liste-service">Géométrie : non</li>
                  <li class="garage-liste-service">Runflat : oui</li>
                  <li class="garage-liste-service">TPMS : non</li>
                </ul>
              </div>
              <div class="second-col">
                <li class="garage-liste-service">lundi : 08:00 - 18:00</li>
                <li class="garage-liste-service">mardi : 08:00 - 18:00</li>
                <li class="garage-liste-service">mercredi : 08:00 - 18:00</li>
                <li class="garage-liste-service">jeudi : 08:00 - 18:00</li>
                <li class="garage-liste-service">vendredi : 08:00 - 18:00</li>
                <li class="garage-liste-service">samedi : fermé</li>
                <li class="garage-liste-service">dimanche : fermé</li>
              </div>
              <div class="third-col">
                <img src="../../../../assets/images/logo/1613853163logo-w2days.jpg" alt="">
                <div class="post-autor-date">
                  <p><a href="#">Bobopneus </a></p>
                  <p>Tél. :06 00 00 00 00</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
