<!-- footer -->
<footer>
  <div class="container">
    <div class="footer-widgets-part">
      <div class="row">
        <div class="col-md-4">
          <div class="widget text-widget">
            <h1>Contactez-nous</h1>
            <p style="text-align:justify">BOBO PNEUS & ÉQUIPEMENTS vous propose le Falken Azenis FK510, un pneu été
              ultra haute performances (UHP), pafaitement adapté aux véhicules de tourisme. En effet, ce pneu
              s'associera admirablement bien avec votre citadine ou votre berline, tout en vous garantissant une
              fiabilité à toute épreuve.</p>
          </div>
          <div class="widget social-widget">
            <h1>Réseaux sociaux</h1>
            <ul class="social-icons">
              <li>
                <a href="https://www.facebook.com/BOBO-Pneus-et-Equipements-106899104355485/?modal=admin_todo_tour"
                  target="__black" class="facebook">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li>
                <a target="__black" class="snapchat">
                  <i class="fab fa-snapchat-ghost"></i>
                </a>
              </li>
              <li>
                <a target="__black" class="whatsapp">
                  <i class="fab fa-whatsapp"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="widget posts-widget">
            <h1>Services</h1>
            <ul class="list-posts">
              <li>
                <i class="fas fa-user-check"></i>
                <div class="post-content">
                  <a>50 experts</a>
                  <h2><a>à votre service pour une meilleure qualité vente</a></h2>
                </div>
              </li>
              <li>
                <i class="fas fa-stamp"></i>
                <div class="post-content">
                  <a> Garantie constructeur</a>
                  <h2>
                    <a>préservée pour tous les matériaux commandés</a>
                  </h2>
                </div>
              </li>

              <li>
                <i class="fab fa-expeditedssl"></i>
                <div class="post-content">
                  <a>Prix et sécurité</a>
                  <h2><a>votre satisfaction, notre priorité 100% garantie</a></h2>
                </div>
              </li>


              <li>
                <i class="fas fa-dolly"></i>
                <div class="post-content">
                  <a>Expédition express</a>
                  <h2>
                    <a>offerte, rapide, sûre dans toute la france</a>
                  </h2>
                </div>
              </li>
              <li>
                <i class="fab fa-reacteurope"></i>
                <div class="post-content">
                  <a>Vos retours</a>
                  <h2><a>jusqu'à 1 mois pour effectuer le retour</a></h2>
                </div>
              </li>


            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="widget categories-widget">
            <h1>Nos partenaires autos</h1>
            <ul class="category-list">
              <li><a>RENAULT</a></li>
              <li><a>PEUGEOT</a></li>
              <li><a>CITROEN</a></li>
              <li><a>MERCEDES BENZ</a></li>
              <li><a>FORD</a></li>
              <li><a>VOLKSWAGEN</a></li>
              <li><a>TOYOTA</a></li>
              <li><a>FIAT</a></li>
              <li><a>VOLVO</a></li>
              <li><a>AUDI</a></li>
              <li><a>HONDA</a></li>
              <li><a>BMW</a></li>
              <li><a>HYUNDAI</a></li>
              <li><a>HONDA</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Mise en place de mon barre de navigation versions footer -->
    <div class="footer-last-line">
      <div class="row">
        <div class="col-md-6">
          <p>&copy; {{this.year}} Bobo pneus & équipements | Développé par <a href="https://www.w2days.com/"
              target="_black"> W2days</a></p>
        </div>
        <div class="col-md-6">
          <nav class="footer-nav">
            <ul>
              <li><a href="index">Accueil</a></li>
              <li><a href="piecesEquipements">Pièces & équipements</a></li>
              <li><a href="pneus">Pneus</a></li>
              <li><a href="garagesPartenaires">Garages partenaires</a></li>
              <li><a href="contact">Contact</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <!-- Mise en place de mon barre de navigation versions footer -->
  </div>
</footer>
<!-- EO footer -->
